/* Poll */

.xblock-student_view-survey {

  /* hide xblock title (display name) */
  .poll-header {
    display: none;
  }

  .survey-table {
    border: 1px solid #CCC !important;
    margin-bottom: 2rem;

    td {
      vertical-align: middle;
    }

    .survey-question {
      line-height: 2;
      .question-heading {
        font-weight: bold;
        text-transform: uppercase;
      }

      .question-description {
        font-weight: 400;
        margin-top: 0;
      }
    }

    .survey-question, .survey-option, .survey-answer {
      padding: 10px !important;
    }
  }
  /* override top row in table */
  .themed-xblock.poll-block .survey-table thead tr th.survey-answer {
    width: auto;
    max-width: 1rem;
    text-transform: uppercase;
    color: #8d8d8d;
    font-size: 0.8em;
    vertical-align: top;
  }

  .poll-block.themed-xblock {
    padding-bottom: 1rem;
  }

  .poll-block-form-wrapper form {
    position: relative;

    .input-main {
      position: absolute;
      right: 0;

      &.ft-button-action {
        padding: 3px 35px !important;
        text-transform: uppercase;
        font-size: .8rem !important;
      }
    }
  }

  .view-results-button-wrapper {
    display: none;
  }
}
