$ft-orange: #f76b1c;
$ft-green: #99c221;
$ft-light-grey: #d5d5d5;
$ft-dark-grey: #8d8d8d;

/* Courseware elements custom classes */
.view-in-course {
  .element-title {
    margin: 25px -35%;
    padding: 1em;
    line-height: 0 !important;
    overflow: hidden;
    /*width: 50%; can be anything*/
    text-align: center;

    span {
      display: inline-block;
      position: relative;
      font-size: 24px;
      line-height: 0 !important;
      font-weight: bold;

      &:before, &:after {
        content: "";
        position: absolute;
        height: 5px;
        border-top: 1px solid #aaa;
        top: 0;
        width: 1200px;
      }

      &:before {
        right: 100%;
        margin-right: 15px;
      }

      &:after {
        left: 100%;
        margin-left: 15px;
      }
    }
  }

  .supplemental-text {
    margin: 1.5rem 0 1.5rem 5rem;
    padding-left: 2rem;
    border-left: 4px solid $ft-light-grey;
    font-style: italic;
    color: #777;

    a {
      color: $ft-orange !important;
      text-decoration: underline;
      font-weight: 500;
    }
  }

  .reality-check-title {
    line-height: 0 !important;
    text-align: center;
    padding: 1em;
    overflow: hidden;

    span {
      display: inline-block;
      position: relative;
      font-size: 24px;
      line-height: 0 !important;
      font-weight: bold;
      margin-left: -800px;

      &:before, &:after {
        content: "";
        position: absolute;
        height: 5px;
        border-top: 1px solid #aaa;
        top: 0;
      }

      &:before {
        right: 100%;
        margin-right: 15px;
        width: 500px;
      }

      &:after {
        left: 100%;
        margin-left: 15px;
        width: 2000px;
      }

      .fa {
        line-height: 0 !important;
        font-style: normal;
        margin: 0 5px;
        color: $ft-orange;
      }
    }
  }

  .reality-check-title.green .fa {
    color: $ft-green;
  }

  /* Ordered and unordered lists */
  ol.ft.green {
    li {
      &:before {
        color: $ft-green;
      }
    }
  }

  ol.ft {
    list-style: none !important;
    counter-reset: li;

    li {
      counter-increment: li;

      &:before {
        content: "." counter(li);
        color: $ft-orange;
        display: inline-block;
        width: 2em;
        margin-left: -1.5em;
        margin-right: 0.5em;
        text-align: right;
        direction: rtl
      }
    }
  }

  ul.ft.green {
    li:before {
      color: $ft-green;
    }
  }

  ul.ft {
    list-style: none !important;

    li:before {
      content: "⋄";
      color: $ft-orange;
      display: inline-block;
      width: 2em;
      margin-left: -1em
    }
  }

  ol.ft p, ul.ft p {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0;
    margin-top: -2px;
  }

  .definition {
    display: inline-block;
    background: #777;
    color: white;
    line-height: 27px !important;
    vertical-align: middle;
    padding: 0 5px 0 0;
    margin-right: .4em;
    overflow: hidden;

    .skew {
      display: inline-block;
      width: 8px;
      height: 28px;
      margin-left: -3px;
      background: #555;
      margin-bottom: -9px;
      border-right: 2px solid white;
      transform: skewX(-6deg);
    }
  }

  .ask-yourself {
    display: table;
    position: relative;
    padding-left: 60px;
    line-height: 1.4em;
    font-style: italic;
    color: #555;

    &:before {
      content: "";
      position: absolute;
      top: calc(50% - 22px);
      left: 15px;
      width: 45px;
      height: 45px;
      display: inline-block;
      vertical-align: middle;
      background-image: url('../images/AskYourselfIcon.jpg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    .ask-yourself-content {
      display: table-cell;
      vertical-align: middle;
      padding: 1.5rem;
    }

    .highlight {
      display: inline;
      color: $ft-orange;
      text-transform: uppercase;
      font-style: normal;
    }
  }

  .ask-yourself.green:before {
    background-image: url('../images/AskYourselfIcon_Green.jpg');
  }

  .ask-yourself.green .highlight {
    color: $ft-green;
  }

  .tip {
    width: 100%;
    display: table;
    position: relative;
    background-image: url('../images/TipBackgroundPattern.jpg');
    border: 1px solid $ft-orange;
    color: #555;
    min-height: 80px;

    &:before {
      content: "";
      position: absolute;
      display: inline-block;
      height: 40px;
      border: 4px solid $ft-orange;
      top: calc(50% - 25px);
      left: -4px;
    }

    .tip-content {
      display: table-cell;
      vertical-align: middle;
      padding: 1.5rem;
    }

    .highlight {
      display: inline;
      color: $ft-orange;
      text-transform: uppercase;
      font-style: normal;
      font-weight: bold;
    }
  }

  .tip.green {
    background-image: url('../images/TipBackgroundPattern_Green.jpg');
    border-color: $ft-green;

    &:before {
      border-color: $ft-green;
    }

    .highlight {
      color: $ft-green;
    }
  }

  .alt-quote {
    vertical-align: middle;
    color: #555;
    padding: 20px 50px;
    background-image: url('../images/alt-quote.png');
    background-repeat: no-repeat;
    background-position-x: 0;
    background-size: 25px 100%;
    font-style: italic;
    line-height: 25px;

    .author {
      vertical-align: middle;
      color: #777;
      font-weight: bold;
    }
  }

  // biography block,
  .biography-container {
    margin: 1.5rem 0;
    .image-wrapper {
      display: inline-block;
      width: 20%;
      vertical-align: top;

      .image-container {
        width: 140px;
        height: 140px;
        max-width: 100%;
        margin: 0 auto;
        background-size: cover;
        border-radius: 50%;
        border: 2px solid white;
        box-shadow: 0 0 0 2px #d9d9d9;
      }
    }

    .text-wrapper {
      display: inline-block;
      width: 77%;
      vertical-align: top;
      padding: 1%;
    }
  }

  .xmodule_display.xmodule_HtmlModule p.long-description,
  .xmodule_display.xmodule_HtmlModule p.short-description {
    color: #999898;
  }
  .xmodule_display.xmodule_HtmlModule p.long-description {
    font-size: 14px;
  }

  // quote block
  .block-quote {
    position: relative;
    margin: 1.5rem 0;
    border: 5px solid #ebebeb;
    padding: 20px;
  }
  .xmodule_display.xmodule_HtmlModule .block-quote p {
    font-style: italic;
    text-align: center;
    line-height: 2 !important;
    font-weight: 500;

    &.quote {
      margin-bottom: 0;
      padding: 10px 40px 10px 20px;
      font-size: 24px;
      color: #707070;
    }

    &.author {
      margin: 0;
      padding: 0;
      font-size: 16px;
      color: #acacac;
    }
  }

  .left-quote-image, .right-quote-image {
    position: absolute;
    top: calc(50% - 12.5px);
    height: 25px;
    width: 25px;
  }

  .left-quote-image {
    left: -13px;
    background: url('../images/QuoteBlockLeft.png') no-repeat center center;
    background-color: white;
    padding: 6px;
  }

  .right-quote-image {
    right: -13px;
    background: url('../images/QuoteBlockRight.png') no-repeat center center;
    background-color: white;
    padding: 5px;
  }

  // video xblock
  .video-title-wrapper {
    border-bottom: 1px solid #dedede;
    position: relative;
    margin-left: 20px;
    padding: 5px 10px 15px 0;

    .fa-video-camera {
      position: absolute;
      right: 0;
      font-size: 34px;
      top: -6px;
      font-style: normal !important;
      color: #eaeaea;
      margin-right: 20px;
    }

    .video-title {
      color: #505050;
      text-transform: uppercase;
      font-size: 24px;
    }

    .video-icon {
      position: absolute;
      top: 0;
      right: 20px;
      height: 40px;
      width: 40px;
      background: url('../images/VideoIcon.svg') no-repeat center center;
    }
  }

  .video-description {
    padding: 20px;
  }

  .xmodule_display.xmodule_VideoModule .video {
    background: transparent;
    margin: 0 10px;

    .subtitles {
      .spacing {
        text-align: right;
        padding-right: 5px;

        a {
          color: #f7905a;
        }
      }

      .subtitles-menu {
        padding-right: 25px;

        li {
          color: #b3b3b3;
          font-weight: 500;
          padding: 5px 0;

          &.current {
            color: #8a8989;
          }

          &.spacing:last-of-type .transcript-end {
            right: 0;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }

    .video-wrapper {
      border: 3px solid white;
      box-shadow: 0 0 0 2px #d9d9d9;
    }

    // custom scroll
    ::-webkit-scrollbar {
      width: 6px;
      padding: 0 4px;
    }

    ::-webkit-scrollbar-track {
      background-color: white;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #acacac;
      border-radius: 10px;
    }
  }

  // tools and activity headings
  .tools-title {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1rem 0;

    .fa {
      font-style: normal !important;
      color: $ft-orange;
    }

    span.heading {
      display: inline-block;
      position: relative;
      padding: 0 0.7rem;
    }

    span.heading:before,
    span.heading:after {
      content: "";
      position: absolute;
      height: 15px;
      border-bottom: 1px solid $ft-light-grey;
      top: 0;
    }

    span.heading:before {
      right: 100%;
      width: 200px;
      margin-right: 35px;
    }

    span.heading:after {
      left: 100%;
      width: 1200px;
      margin-left: 10px;
    }

    .subtitle-container {
      display: inline-block;
      padding: 0 0.5rem 0.1rem 0.5rem;;
      transform: translate(0, -0.1rem) skew(-15deg);
      background: #eceaea;
      border-right: 3px solid $ft-orange;
      line-height: 1rem !important;
    }

    .subtitle {
      display: inline-block;
      transform: skew(15deg);
      font-size: 0.8rem;
      text-transform: uppercase;
      color: $ft-dark-grey;
    }
  }
}
