<%page expression_filter="h"/>

<%!
    from django.utils.translation import ugettext as _
    from django.core.urlresolvers import reverse
    from openedx.core.djangolib.js_utils import (
    dump_js_escaped_json, js_escaped_string
)
%>

<form action="${create_ccx_url}" class="ccx-form" method="POST" onsubmit="return validateForm(this)">
    <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>

    % if len(affiliate_facilitators) > 1:
    <div class="field-wrapper">
        <p class="field-name">AFFILIATE</p>
        <p>Select for which affiliate you are creating this course. You can choose only affiliates that have facilitators.</p>
        <select name="affiliate" id="affiliate" required>
            <option selected disabled value="">select option...</option>
            % for af_fac in affiliate_facilitators:
            <option value="${af_fac['affiliate'].id}">${af_fac['affiliate'].name}</option>
            % endfor
        </select>
    </div>
    % else:
    <input name="affiliate" class="hidden" type="text" value="${affiliate-facilitators[0]['affiliate'].id}">
    % endif

    <div class="field-wrapper">
        <p class="field-name">${_('COURSE NAME')}</p>
        <div class="field">
            <label class="sr" for="ccx_name">${_('Name your CCX')}</label>
            <input name="name" id="ccx_name" class="ccx-input-field"
                   placeholder="${_('Name of your course...')}" required/><br/>
        </div>
    </div>
    <div class="field-wrapper">
        <p class="field-name">${_('COURSE DESCRIPTION')}</p>
        <p> The first part of what you enter here will display when entrepreneurs are searching by courses.
            So here, enter in the details that entrepreneur learners will need to know about the specific course material you’re planning on offering.
            How might this course differ from the version of FastTrac entrepreneurs can take online & directly?
            Which factor(s) would help an entrepreneur understand whether to take the course with your organization? And what detail(s)
            would an entrepreneur need that is not reflected in the questions below?</p>
        <div class="field custom-course-description">
            <label class="sr" for="ccx_course_description">${_('Course description')}</label>
                <textarea
                    name="course_description"
                    id="ccx_course_description"
                    class="ccx-input-field autosized-textarea"
                    placeholder="${_('click to start typing...')}"
                    required
                ></textarea>
                <br/>
        </div>
    </div>
    <div class="field-wrapper">
        <p class="field-name">${_('DELIVERY')}</p>
        <p> Here you select “In Person” or “Online” as the delivery options but, as the Facilitator guide makes clear,
            there are a lot of different approaches contained in those two categories. Think about your Course Description above,
            and what else an entrepreneur might need to learn through the information in that description.
            Above and beyond “In Person” or “Online” -- Who will be facilitating the course? What are their qualifications?
            Where will entrepreneurs meet - physically or digitally? What other tools might an entrepreneur need to participate in this course? </p>
        <div class="field inline">
            <label class="sr" for="ccx_delivery_mode">${_('Delivery Mode')}</label>
            <select name="delivery_mode" id="ccx_delivery_mode" required>
                <option selected disabled value="">class availability...</option>
                % for choice in delivery_mode_choices:
                    <option value="${choice[0]}">${choice[1]}</option>
                % endfor
            </select>
        </div>
    </div>

    <div class="horizontal-field-wrapper datepair">
        <div class="horizontal-field-container">
            <p class="field-name">${_('START DATE')}</p>
            <label class="sr form-label"
                   for="ccx_dialog_date">${_('Date format four digit year dash two digit month dash two digit day')}</label>
            <input placeholder="${_('select a start date...')}" class="date ccx-input-field ccx-date-field"
                   type="text"
                   name="date"
                   id="ccx_dialog_date"
                   size="10"
                   required/>
            <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
        <div class="horizontal-field-container">
            <p class="field-name">${_('START TIME')}</p>
            <label class="sr form-label"
                   for="ccx_dialog_time">${_('Time format two digit hours colon two digit minutes')}</label>
            <input placeholder="${_('select a starting time...')}" class="time ccx-input-field ccx-date-field"
                   type="text"
                   name="time"
                   id="ccx_dialog_time"
                   size=10
                   required/>
            </br>
        </div>
    </div>

    <div class="horizontal-field-wrapper datepair">
        <div class="horizontal-field-container">
            <p class="field-name">${_('ENROLLMENT CLOSE DATE')}</p>
            <label class="sr form-label"
                   for="ccx_enrollment_end_date">${_('Date format four digit year dash two digit month dash two digit day')}</label>
            <input placeholder="${_('select enrollment close date...')}" class="date ccx-input-field ccx-date-field"
                   type="text"
                   name="enrollment_end_date"
                   id="ccx_enrollment_end_date"
                   size="10"
                   required/>
            <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
        <div class="horizontal-field-container">
            <p class="field-name">${_('ENROLLMENT CLOSE TIME')}</p>
            <label class="sr form-label"
                   for="ccx_enrollment_end_time">${_('Time format two digit hours colon two digit minutes')}</label>
            <input placeholder="${_('select enrollment close time...')}" class="time ccx-input-field ccx-date-field"
                   type="text"
                   name="enrollment_end_time"
                   id="ccx_enrollment_end_time"
                   size=10
                   required/>
            </br>
        </div>
    </div>

    <div class="horizontal-field-wrapper datepair">
        <div class="horizontal-field-container">
            <p class="field-name">${_('END DATE')}</p>
            <label class="sr form-label"
                   for="ccx_end_date">${_('Date format four digit year dash two digit month dash two digit day')}</label>
            <input placeholder="${_('select end date...')}" class="date ccx-input-field ccx-date-field"
                   type="text"
                   name="end_date"
                   id="ccx_end_date"
                   size="10"
                   required/>
            <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
        <div class="horizontal-field-container">
            <p class="field-name">${_('END TIME')}</p>
            <label class="sr form-label"
                   for="ccx_end_time">${_('Time format two digit hours colon two digit minutes')}</label>
            <input placeholder="${_('select end time...')}" class="time ccx-input-field ccx-date-field"
                   type="text"
                   name="end_time"
                   id="ccx_end_time"
                   size=10
                   required/>
            </br>
        </div>
    </div>

    <div class="horizontal-field-wrapper">
        <div class="horizontal-field-container">
            <p class="field-name">${_('CITY')}</p>
            <label class="sr" for="ccx_city">${_('City')}</label>
            <input name="city" id="ccx_city" class="ccx-input-field"
                   placeholder="${_('type in a city...')}" required/><br/>
        </div>
        <div class="horizontal-field-container">
            <p class="field-name">${_('POSTAL_CODE')}</p>
            <label class="sr" for="ccx_postal_code">${_('Postal Code')}</label>
            <input name="postal_code" id="ccx_postal_code" class="ccx-input-field"
                   placeholder="${_('type in a postal code...')}" required/><br/>
        </div>
        <div class="horizontal-field-container">
            <p class="field-name">${_('STATE')}</p>
            <label class="sr" for="ccx_state">${_('State')}</label>
            <select name="state" id="ccx_state" class="ccx-select" required>
                <option selected disabled value="">select option...</option>
                % for STATE in STATE_CHOICES:
                    <option value="${STATE[0]}">${STATE[1]}</option>
                % endfor
            </select>
        </div>
    </div>

    <div class="horizontal-field-wrapper">
        <div class="horizontal-field-container">
            <p class="field-name">${_('FEE')}</p>
            <label class="sr" for="ccx_fee">${_('Fee')}</label>
            <select name="fee" id="ccx_fee" class="ccx-select" required>
                <option selected disabled value="">select option...</option>
                <option value="True">Yes</option>
                <option value="False">None</option>
            </select>
        </div>

        <div class="horizontal-field-container">
            <p class="field-name">${_('ENROLLMENT TYPE')}</p>
            <label class="sr" for="ccx_enrollment_type">${_('Enrollment type')}</label>
            % if is_from_fasttrac_course:
              <select name="enrollment_type" id="ccx_enrollment_type" class="ccx-select" required>
                  <option selected disabled value="">select option...</option>
                  % for choice in enrollment_choices:
                      <option value="${choice[0]}">${choice[1]}</option>
                  % endfor
              </select>
            % else:
              <select name="enrollment_type" id="ccx_enrollment_type" class="ccx-select" disabled>
                <% private_enrollment_choice = enrollment_choices[0][1]%>
                <option selected disabled value="">${private_enrollment_choice}</option>
              </select>
            % endif
        </div>
    </div>

    % if len(affiliate_facilitators) == 1:
    <% af_fac = affiliate_facilitators[0] %>
    <div class="horizontal-field-wrapper">
        <div class="horizontal-field-container">
            <p class="field-name">${_('FACILITATORS')}</p>
            <ul class="facilitators-list">

            </ul>
            <select class="ccx-select facilitator-options">
                % for member in af_fac['facilitators']:
                    <option value="${member.id}">${'{} ({})'.format(member.profile.name, member.email)}</option>
                % endfor
            </select>
            <button class="ft-button-action add-facilitator" type="button">
                Add facilitator
            </button>
        </div>
    </div>
    % else:
        % for af_fac in affiliate_facilitators:
            <div id="affiliate-facilitators-${af_fac['affiliate'].id}" class="affiliate-facilitators horizontal-field-wrapper hidden">
                <div class="horizontal-field-container">
                    <p class="field-name">${_('FACILITATORS')}</p>
                    <ul class="facilitators-list">

                    </ul>
                    <select class="ccx-select facilitator-options">
                        % for member in af_fac['facilitators']:
                            <option value="${member.id}">${'{} ({})'.format(member.profile.name, member.email)}</option>
                        % endfor
                    </select>
                    <button class="ft-button-action add-facilitator" type="button">
                        Add facilitator
                    </button>
                </div>
            </div>
        % endfor
    % endif

    <div class="field submit">
        <button id="create-ccx" class="ft-button-action" type="submit">
                ${_('CREATE COURSE')}<i class="fa fa-plus"></i>
        </button>
    </div>
</form>

<script type="text/javascript">
$(document).ready(function() {
    autosize($('.autosized-textarea'));

    /**
    * Adds or removes the disabled attribute from the 'Add Facilitator' buttons.
    * @param {jquery Object} $el - the div element which contains the button and select element.
    */
    function toggleAddBtnDisable($el) {
        var $selectOptions = $el.find('.facilitator-options option'),
            $addFacilitatorBtn = $el.find('.add-facilitator');
        $addFacilitatorBtn.attr('disabled', $selectOptions.length === 0);
    }

    /**
    * Removes all the selected affiliates from all the lists and moves them back
    * into the select element as options. This happens every time the affiliate is
    * changed in the top affiliate dropdown.
    */
    function removeAllSelectedFacilitators() {
        var $facilitatorLists = $('.facilitators-list');

        $facilitatorLists.each(function(i, el) {
            var $parent = $(el).parent();
            var $facilitatorSelectEl = $parent.find('.facilitator-options');
            var $selectedFacilitators = $(el).find('li');

            $selectedFacilitators.each(function(i, fac) {
                var value = $(fac).find('input').val();
                var name = $(fac).find('span').text();

                $facilitatorSelectEl.append(
                    '<option value="' + value + '">' + facilitator + '</option>'
                );

                $(fac).remove();
            });
            toggleAddBtnDisable($parent);
        });
    }

    /**
    * Resets all the facilitator lists and reveals the selected affiliate's
    * facilitator menu.
    * @param {int} affiliate_id - ID of the affiliate for which to show the facilitator list.
    */
    function toggleFacilitatorListElement(affiliate_id) {
        removeAllSelectedFacilitators();
        $('.affiliate-facilitators').addClass('hidden');
        $('#affiliate-facilitators-' + affiliate_id).removeClass('hidden');
    }

    var selectedAffiliate = $('#affiliate option:selected').val();
    if (selectedAffiliate) {
        toggleFacilitatorListElement(selectedAffiliate);
    }

    /**
    * Handler for when the affiliate dropdown is changed.
    */
    $('#affiliate').change(function() {
        var selected = $(this).find('option:selected').val();
        toggleFacilitatorListElement(selected);
    });

    /**
    * Handler for when a new facilitator is added to the facilitators list
    * by clicking the 'Add facilitator' button.
    * The facilitator is added in form of a list item that contains:
    * - the facilitator name
    * - a button (icon) to remove this facilitator from the list again
    * - a hidden input with information about the facilitator ID
    *
    * Once a facilitator is added to the list, the selected option is removed.
    */
    $('.add-facilitator').click(function() {
        var $parent = $(this).parent();
            $selected = $parent.find('.facilitator-options option:selected'),
            facilitatorId = $selected.val(),
            facilitator = $selected.text();

        if (typeof facilitatorId === 'undefined') {
            return false;
        }

        $parent.find('.facilitators-list').append(
            '<li>' +
                '<span>' + facilitator + ' </span>' +
                '<i class="remove-btn fa fa-times"></i>' +
                '<input type="hidden" name="facilitators" value="' + facilitatorId + '">' +
            '</li>'
        );

        $parent.find('.facilitator-options option[value="' + facilitatorId + '"]').remove();
        toggleAddBtnDisable($parent);
    });

    /**
    * Handler for when a facilitator is removed from the list of added facilitators.
    */
    $(document).on('click', '.facilitators-list .remove-btn', function() {
        var $parent = $(this).parent();
        var $divEl = $(this).closest('div');
        var value = $parent.find('input').val();
        var facilitator = $parent.find('span').text();

        $divEl.find('.facilitator-options').append(
            '<option value="' + value + '">' + facilitator + '</option>'
        );

        $parent.remove();
        toggleAddBtnDisable($divEl);
    });

    /**
    * Form validation.
    * Currently checks for:
    * - added facilitators. If there are none, it displays an error.
    */
    $('form.ccx-form').submit(function() {
        var $errorMessage = $('#ccx-create-message');
        function scrollToError() {
            $('html, body').animate({
                scrollTop: $errorMessage.offset().top - 100
            }, 200);
        }

        if(!($('.facilitators-list li').length)) {
            $errorMessage.html('You need to add facilitators!');
            $errorMessage.show();
            scrollToError();
            return false;
        } else {
            $errorMessage.hide();
            return true;
        }
    });
});
</script>
