<%page expression_filter="h"/>

<%!
    from django.utils.translation import ugettext as _
    from django.core.urlresolvers import reverse
    from openedx.core.djangolib.js_utils import (
    dump_js_escaped_json, js_escaped_string
)
%>

<form action="${edit_ccx_url}" class="ccx-form" method="POST" onsubmit="return validateForm(this)">
    <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>
    <div class="field-wrapper">
        <p class="field-name">${_('COURSE NAME')}</p>
        <div class="field">
            <label class="sr" for="ccx_name">${_('Name your CCX')}</label>
            <input name="name" id="ccx_name" class="ccx-input-field" value="${ccx.display_name}"
                   placeholder="${_('Name of your course...')}" required/><br/>
        </div>
    </div>
    <div class="field-wrapper">
        <p class="field-name">${_('COURSE DESCRIPTION')}</p>
        <p> The first part of what you enter here will display when entrepreneurs are searching by courses.
            So here, enter in the details that entrepreneur learners will need to know about the specific course material you’re planning on offering.
            How might this course differ from the version of FastTrac entrepreneurs can take online & directly?
            Which factor(s) would help an entrepreneur understand whether to take the course with your organization? And what detail(s)
            would an entrepreneur need that is not reflected in the questions below?</p>
        <div class="field custom-course-description">
            <label class="sr" for="ccx_course_description">${_('Course description')}</label>
            <textarea name="course_description" id="ccx_course_description"
                        class="ccx-input-field" placeholder="${_('click to start typing...')}"
                        required
            >${ccx.course_description}</textarea><br/>
        </div>
    </div>
    <div class="field-wrapper">
        <p class="field-name">${_('DELIVERY')}</p>
        <p> Here you select “In Person” or “Online” as the delivery options but, as the Facilitator guide makes clear,
            there are a lot of different approaches contained in those two categories. Think about your Course Description above,
            and what else an entrepreneur might need to learn through the information in that description.
            Above and beyond “In Person” or “Online” -- Who will be facilitating the course? What are their qualifications?
            Where will entrepreneurs meet - physically or digitally? What other tools might an entrepreneur need to participate in this course? </p>
        <div class="field inline">
            <label class="sr" for="ccx_delivery_mode">${_('Delivery Mode')}</label>
            <select name="delivery_mode" id="ccx_delivery_mode" data-current-value="${ccx.delivery_mode}">
                % for choice in delivery_mode_choices:
                    <option value="${choice[0]}">${choice[1]}</option>
                % endfor
            </select>
        </div>
    </div>

    <div class="horizontal-field-wrapper datepair">
        <div class="horizontal-field-container">
            <p class="field-name">${_('START DATE')}</p>
            <label class="sr form-label"
                   for="ccx_dialog_date">${_('Date format four digit year dash two digit month dash two digit day')}</label>
            <input placeholder="${_('select a start date...')}" class="date ccx-input-field"
                   value="${ccx.time.date()}"
                   type="text"
                   name="date"
                   required
                   id="ccx_dialog_date" size="10"/>
            <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
        <div class="horizontal-field-container">
            <p class="field-name">${_('START TIME')}</p>
            <label class="sr form-label"
                   for="ccx_dialog_time">${_('Time format two digit hours colon two digit minutes')}</label>
            <input placeholder="${_('select a starting time...')}" class="time ccx-input-field"
                   value="${ccx.time.time()}"
                   type="text"
                   name="time"
                   required
                   id="ccx_dialog_time" size=10/></br>
        </div>
    </div>

    <div class="horizontal-field-wrapper">
        <div class="horizontal-field-container">
            <p class="field-name">${_('CITY')}</p>
            <label class="sr" for="ccx_city">${_('City')}</label>
            <input name="city" id="ccx_city" class="ccx-input-field"
                   placeholder="${_('type in a city...')}"
                   value="${ccx.location_city}" required/><br/>
        </div>
        <div class="horizontal-field-container">
            <p class="field-name">${_('STATE')}</p>
            <label class="sr" for="ccx_state">${_('State')}</label>
            <select name="state" id="ccx_state" class="ccx-select" data-current-value="${ccx.location_state}" required>
                % for STATE in STATE_CHOICES:
                    <option value="${STATE[0]}">${STATE[1]}</option>
                % endfor
            </select>
        </div>
    </div>

    <div class="horizontal-field-wrapper">
        <div class="horizontal-field-container">
            <p class="field-name">${_('FEE')}</p>
            <label class="sr" for="ccx_fee">${_('Fee')}</label>
            % if not ccx.fee:
                <% fee = 'None' %>
            % else:
                <% fee = 'Yes' %>
            %endif
            <select name="fee" id="ccx_fee" class="ccx-select"
                    data-current-value="${fee}" required>
                <option value="True">Yes</option>
                <option value="False">None</option>
            </select>
        </div>

        <div class="horizontal-field-container">
            <p class="field-name">${_('ENROLLMENT TYPE')}</p>
            <label class="sr" for="ccx_enrollment_type">${_('Enrollment type')}</label>
            <select name="enrollment_type" id="ccx_enrollment_type" class="ccx-select"
                    data-current-value="${ccx.enrollment_type}" required>
                <option value="PRIVATE">Private</option>
                <option value="PUBLIC">Public</option>
            </select>
        </div>
    </div>
    <div class="field submit">
        <button id="create-ccx" class="ft-button-action" type="submit">
            ${_('UPDATE COURSE')}
        </button>
    </div>
</form>

<script>
    // select current values in dropdown menus
    $(function () {
        var options = $('.ccx-form').find('.ccx-select');
        options.each(function () {
            var value = $(this).data('current-value');
            $(this).find('option').each(function () {
                if ($(this).val() == value) {
                    $(this).attr("selected","selected");
                }
            });
        });
    })

    $(document).ready(function() {
      $('.wrapper-footer').addClass('explore-courses-footer')
    })
</script>
