<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<h2 class="hd hd-2">${_('Student Grades')}</h2>
<div class="gradebook-wrapper">
    <table class="students-table">
        <thead>
            <td>Name</td>
            <td>Username</td>
            <td>Email Address</td>
            <td style="text-align: right">Date Enrolled</td>
        </thead>
        <tbody>
            % for student_enrollment in ccx_student_enrollments:
                <tr
                    style="opacity: ${1 if student_enrollment.is_active else 0.7}"
                    % if not student_enrollment.is_active:
                        title="Student is enrolled but inactive."
                    % endif
                >
                    <td>${student_enrollment.user.profile.name}</td>
                    <td>${student_enrollment.user.username}</td>
                    <td>${student_enrollment.user.email}</td>
                    <td style="text-align: right">${student_enrollment.created.strftime("%m/%d/%Y")}</td>
                </tr>
            % endfor
        </tbody>
    </table>
</div>
