<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<h2 class="hd hd-2">${_("Facilitator management")}</h2>
<div class="team-management-note">
    Before adding a facilitator to your course below:
    <br>
    1. Confirm the person you are adding as a facilitator has already been added to your organization on your Affiliate Profile page
    <br>
    2. Confirm this user's email address and enter it in the box below</div>
<div class="table-wrapper">
    % if is_staff:
        <a href="/affiliates/edit/${affiliate_entity.slug}">
            <i class="fa fa-edit"></i>
            Edit Affiliate Info
        </a>
        <br>
        <br>
    % endif
    <table class="team-mgmt-table">
        <tr>
            <th class="thead">Name</th>
            <th class="thead">Role</th>
            <th class="thead">Email</th>
            <th class="thead">Actions</th>
        </tr>
        %for ccx_coach_permission in ccx_coach_permissions:
            <tr>
                <td>${ccx_coach_permission.user.profile.name}</td>
                <td>Facilitator</td>
                <td>${ccx_coach_permission.user.email}</td>
                <td>
                    <span class="remove-coach-button"
                        data-remove-url="${modify_access_url}"
                        data-unique-student-identifier="${ccx_coach_permission.user.username}"
                        data-rolename="${ccx_coach_permission.role}"
                        data-action="revoke">
                            <i class="fa fa-times-circle remove-icon"></i>Remove
                    </span>
                </td>
            </tr>
        %endfor
    </table>
    <br>
    <form id="add-coach-form" action="${modify_access_url}" method="POST">
        <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
        <label for="unique_student_identifier">Email Address</label>
        <input type="text" name="unique_student_identifier" />
        <input type="hidden" name="action" value="allow" />
        <input type="hidden" name="rolename" value="ccx_coach" />
        <button class="add-button" value="submit">Add Facilitator</button>
    </form>
    <%include file="/modal/error_modal.html" />
</div>

<script>
    $(document).ready(function() {
        $('#add-coach-form').on('submit', addCoachEventHandler);
        $('.team-mgmt-table').on('click', '.remove-coach-button', removeCoachEventHandler);

        function addCoachEventHandler(event) {
            event.preventDefault();

            var $form = $(event.target);
            var url = $form.attr('action');
            var data = $form.serialize();

            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                success: function(responseData) {
                    if (responseData.addingExistingCCXCoachOrInstructor === true) {
                        showErrorMessage('This affiliate already exists.');
                    }
                    else if (responseData.userDoesNotExist === true) {
                        showErrorMessage('Affiliate ' + responseData.unique_student_identifier + ' does not exist.');
                    }
                    else {
                        addCoachRow(responseData, url);
                        $form.find('input[type=text]').val('');
                    }
                }
            });
        }

        function removeCoachEventHandler(event) {
            var $button = $(event.target);
            var url = $button.data('remove-url');
            var action = $button.data('action');
            var uniqueStudentIdentifier = $button.data('unique-student-identifier');
            var rolename = $button.data('rolename');

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    unique_student_identifier: uniqueStudentIdentifier,
                    action: action,
                    rolename: rolename
                },
                success: function() {
                    $button.parent().parent().remove();
                }
            });
        }

        function addCoachRow(coachData, removeUrl) {
            var username = coachData.unique_student_identifier;
            var email = coachData.email;
            var rolename = coachData.rolename;

            switch(rolename) {
                case 'staff':
                    var role = 'Program Director'
                    break;
                case 'instructor':
                    var role = 'Course Manager'
                    break;
                case 'ccx_coach':
                default:
                    var role = 'Facilitator'
            }

            var newRow = '<tr><td>' + username +
                '</td><td>' + role +
                '</td><td>' + email +
                '</td><td><span class="remove-coach-button" data-remove-url="' + removeUrl +
                    '" data-unique-student-identifier="' + username +
                    '" data-rolename="' + rolename + '" data-action="revoke"><i class="fa fa-times-circle remove-icon"></i>Remove</span></td></tr>';

            $('.team-mgmt-table').find('tbody').append(newRow);
        }
    });
</script>
