<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<h2 class="hd hd-2">${_("Facilitator management")}</h2>
<div class="team-management-note">
    Before adding a facilitator to your course below:
    <br>
    1. Confirm the person you are adding as a facilitator has already been added to your organization on your Affiliate Profile page
    <br>
    2. Confirm this user's email address and enter it in the box below</div>
<div class="table-wrapper">
    % if is_staff:
        <a href="/affiliates/affiliate-admin/${affiliate_entity.slug}">
            <i class="fa fa-edit"></i>
            Edit Affiliate Info
        </a>
        <br>
        <br>
    % endif
    <table class="team-mgmt-table">
        <tr>
            <th class="thead">Name</th>
            <th class="thead">Role</th>
            <th class="thead">Email</th>
            <th class="thead">Actions</th>
        </tr>
        %for ccx_coach_permission in ccx_coach_permissions:
            <tr>
                <td>${ccx_coach_permission.user.profile.name.encode('utf-8')}</td>
                <td>Facilitator</td>
                <td>${ccx_coach_permission.user.email}</td>
                <td>
                    <span class="remove-coach-button"
                        data-remove-url="${modify_access_url}"
                        data-unique-student-identifier="${ccx_coach_permission.user.username}"
                        data-rolename="${ccx_coach_permission.role}"
                        data-name="${ccx_coach_permission.user.profile.name.encode('utf-8')}"
                        data-action="revoke">
                            <i class="fa fa-times-circle remove-icon"></i>Remove
                    </span>
                </td>
            </tr>
        %endfor
    </table>
    <p class="error hidden"></p>
    <br>
    <form id="add-coach-form" action="${modify_access_url}" method="POST">
        <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">

        <label for="unique_student_identifier">Add Facilitator</label>
        <select name="unique_student_identifier" autocomplete="off">
            % for member in facilitator_dropdown_choices:
                <option value="${member.username}">
                    ${member.profile.name.encode('utf-8')}
                </option>
            % endfor
        </select>


        <input type="hidden" name="action" value="allow" />
        <input type="hidden" name="rolename" value="ccx_coach" />
        <button class="add-button" value="submit" ${'disabled' if not facilitator_dropdown_choices else ''}>Add Facilitator</button>
    </form>
    <%include file="/modal/error_modal.html" />
</div>

<script>
    $(document).ready(function() {
        var $addFacilitatorBtn = $('#add-coach-form .add-button'),
            $facilitatorSelectElement = $('#add-coach-form select'),
            $teamManagementTable = $('.team-mgmt-table'),
            $tableErrorField = $('.error');

        $('#add-coach-form').on('submit', addCoachEventHandler);
        $teamManagementTable.on('click', '.remove-coach-button', removeCoachEventHandler);

        $facilitatorSelectElement.change(function() {
            var $selectedOption = $(this).find('option:selected');
            if (!$selectedOption.val()) {
                $addFacilitatorBtn.attr('disabled', true);
            }
        });

        function getFacilitatorOptionsNumber() {
            return $('select[name=unique_student_identifier] option').length;
        }

        function addCoachEventHandler(event) {
            event.preventDefault();
            $tableErrorField.addClass('hidden');

            var $form = $(event.target);
            var url = $form.attr('action');
            var data = $form.serialize();

            var $selectedOption = $form.find('select option[value="' + $form.find('select').val() + '"]');

            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                success: function(responseData) {
                    if (responseData.addingExistingCCXCoachOrInstructor === true) {
                        showErrorMessage('This affiliate already exists.');
                    }
                    else if (responseData.userDoesNotExist === true) {
                        showErrorMessage('Affiliate ' + responseData.unique_student_identifier + ' does not exist.');
                    }
                    else {
                        addCoachRow(responseData, url, $selectedOption.text());
                        $selectedOption.remove();
                        var numOfOptions = $('select[name=unique_student_identifier] option').length;
                        if (!(numOfOptions)) {
                            $addFacilitatorBtn.attr('disabled', true);
                        }
                    }
                }
            });
        }

        function removeCoachEventHandler(event) {
            var $button = $(event.target);
            var url = $button.data('remove-url');
            var action = $button.data('action');
            var uniqueStudentIdentifier = $button.data('unique-student-identifier');
            var rolename = $button.data('rolename');
            var coachName = $button.data('name');

            $tableErrorField.addClass('hidden');

            // If there is only one facilitator in the table.
            // (1 tr is the header, 1 is the single facilitator)
            if ($teamManagementTable.find('tr').length === 2) {
                $tableErrorField.text('Need to have at least one facilitator.')
                                .removeClass('hidden');
                return;
            }

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    unique_student_identifier: uniqueStudentIdentifier,
                    action: action,
                    rolename: rolename
                },
                success: function() {
                    $button.parent().parent().remove();
                    $facilitatorSelectElement.append('<option value="'+ uniqueStudentIdentifier +'">'+ coachName +'</option>');
                    $addFacilitatorBtn.attr('disabled', false);
                }
            });
        }

        function addCoachRow(coachData, removeUrl, coachName) {
            var username = coachData.unique_student_identifier;
            var email = coachData.email;
            var rolename = coachData.rolename;

            switch(rolename) {
                case 'staff':
                    var role = 'Program Director'
                    break;
                case 'instructor':
                    var role = 'Course Manager'
                    break;
                case 'ccx_coach':
                default:
                    var role = 'Facilitator'
            }

            var newRow = '<tr><td>' + coachName +
                '</td><td>' + role +
                '</td><td>' + email +
                '</td><td><span class="remove-coach-button" data-remove-url="' + removeUrl +
                    '" data-unique-student-identifier="' + username +
                    '" data-name="' + coachName +
                    '" data-rolename="' + rolename + '" data-action="revoke"><i class="fa fa-times-circle remove-icon"></i>Remove</span></td></tr>';

            $('.team-mgmt-table').find('tbody').append(newRow);
        }
    });
</script>
