<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<h2 class="hd hd-2">${_("Team management")}</h2>
<div class="team-management-note">
    Before adding email in box below:
    <br>
    1. Confirm the person you are adding as a Course Manager or Facilitator has registered as a user on the website.
    <br>
    2. Confirm the email they registered with and enter it below. Then, use drop down to select role and click "Add"</div>
<div class="table-wrapper">
    % if is_staff:
        <a href="/affiliates/edit/${ccx.coach.username}">
            <i class="fa fa-edit"></i>
            Edit Affiliate Info
        </a>
        <br>
        <br>
    % endif
    <table class="team-mgmt-table">
        <tr>
            <th class="thead">Name</th>
            <th class="thead">Role</th>
            <th class="thead">Email</th>
            <th class="thead">Actions</th>
        </tr>
        %for ccx_course in ccx_courses:
            <tr>
                <td>${ccx_course.coach.profile.name}</td>
                <td>
                    % if ccx.is_staff(ccx_course.coach):
                        Program Director
                    % elif ccx.is_instructor(ccx_course.coach):
                        Course Manager
                    % else:
                        Facilitator
                    % endif
                </td>
                <td>${ccx_course.coach.email}</td>
                <td>
                    <span class="remove-coach-button"
                        data-remove-url="${modify_access_url}"
                        data-unique-student-identifier="${ccx_course.coach.username}"
                        % if ccx.is_staff(ccx_course.coach):
                            data-rolename="staff"
                        % elif ccx.is_instructor(ccx_course.coach):
                            data-rolename="instructor"
                        % else:
                            data-rolename="ccx_coach"
                        % endif
                        data-action="revoke">
                            <i class="fa fa-times-circle remove-icon"></i>Remove
                    </span>
                </td>
            </tr>
        %endfor
    </table>
    <br>
    <form id="add-coach-form" action="${modify_access_url}" method="POST">
        <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
        <input type="text" name="unique_student_identifier" />
        <input type="hidden" name="action" value="allow" />
        <select name="rolename">
            <option value="ccx_coach" selected>Facilitator</option>
            <option value="instructor">Course Manager</option>
        </select>
        <button class="add-button" value="submit">Add</button>
    </form>
    <div id="error-modal" class="error hidden">
        <span class="content"></span>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#add-coach-form').on('submit', addCoachEventHandler);
        $('.team-mgmt-table').on('click', '.remove-coach-button', removeCoachEventHandler);

        function addCoachEventHandler(event) {
            event.preventDefault();

            var $form = $(event.target);
            var url = $form.attr('action');
            var data = $form.serialize();

            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                success: function(responseData) {
                    if (responseData.addingExistingCCXCoachOrInstructor === true) {
                        showErrorModal('This affiliate already exists.');
                    }
                    else if (responseData.userDoesNotExist === true) {
                        showErrorModal('Affiliate ' + responseData.unique_student_identifier + ' does not exist.');
                    }
                    else {
                        addCoachRow(responseData, url);
                        $form.find('input[type=text]').val('');
                    }
                }
            });
        }

        function removeCoachEventHandler(event) {
            var $button = $(event.target);
            var url = $button.data('remove-url');
            var action = $button.data('action');
            var uniqueStudentIdentifier = $button.data('unique-student-identifier');
            var rolename = $button.data('rolename');

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    unique_student_identifier: uniqueStudentIdentifier,
                    action: action,
                    rolename: rolename
                },
                success: function() {
                    $button.parent().parent().remove();
                }
            });
        }

        function showErrorModal(errorText) {
            $('#error-modal .content').text(errorText);
            $('#error-modal').removeClass('hidden');
            setTimeout(function(){
                $('#error-modal').addClass('hidden');
            }, 8000);
        }

        function addCoachRow(coachData, removeUrl) {
            var username = coachData.unique_student_identifier;
            var email = coachData.email;
            var rolename = coachData.rolename;

            switch(rolename) {
                case 'staff':
                    var role = 'Program Director'
                    break;
                case 'instructor':
                    var role = 'Course Manager'
                    break;
                case 'ccx_coach':
                default:
                    var role = 'Facilitator'
            }

            var newRow = '<tr><td>' + username +
                '</td><td>' + role +
                '</td><td>' + email +
                '</td><td><span class="remove-coach-button" data-remove-url="' + removeUrl +
                    '" data-unique-student-identifier="' + username +
                    '" data-rolename="' + rolename + '" data-action="revoke"><i class="fa fa-times-circle remove-icon"></i>Remove</span></td></tr>';

            $('.team-mgmt-table').find('tbody').append(newRow);
        }
    });
</script>
