@import 'cms/static/sass/studio-main-v1';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');

$ft-orange: #f76b1c;

/**
*   GLOBAL
**/

html, body {
  *:not(.fa) {
    font-family: Roboto, sans-serif !important;
  }
}

/**
*   COURSE DISPLAY
**/

// Inline edit description field for section

.incontext-editor.is-editable.is-editing .incontext-editor-form {
  display: block;
}

form.form-description {
  width: 100%;

  textarea {
    height: 100px;
    width: 99.3%;
    resize: none;
    overflow-x: auto;
    font-size: 14px;
  }
}

.wrapper-xblock-description-field.incontext-editor.is-editable {
  .incontext-editor-value {
    vertical-align: bottom;
    white-space: initial;
    margin-bottom: 5px;
    max-width: 95%;
  }
  span.section-description {
    font-weight: 300;
    &.empty:after {
      content: "No description";
      font-style: italic;
    }
  }
}

/* Courseware elements custom classes */
.element-title {
  line-height: 0 !important;
  text-align: center;
  padding: 1em;
  /*width: 50%; can be anything*/
  overflow: hidden;

  span {
    display: inline-block;
    position: relative;
    font-size: 24px;
    line-height: 0 !important;
    font-family: Roboto;
    font-weight: bold;

    &:before, &:after {
      content: "";
      position: absolute;
      height: 5px;
      border-top: 1px solid #aaa;
      top: 0;
      width: 600px;
    }

    &:before {
      right: 100%;
      margin-right: 15px;
    }

    &:after {
      left: 100%;
      margin-left: 15px;
    }
  }
}


.supplemental-text {
  padding-left: 1em;
  border-left: 2px solid #aaa;
  font-family: Roboto;
  font-style: italic;
  color: #777;

  a {
    color: $ft-orange !important;
    text-decoration: underline;
  }
}

.reality-check-title {
  line-height: 0 !important;
  text-align: center;
  padding: 1em;
  overflow: hidden;

  span {
    display: inline-block;
    position: relative;
    font-size: 24px;
    line-height: 0 !important;
    font-family: Roboto;
    font-weight: bold;
    margin-left: -400px;

    &:before, &:after {
      content: "";
      position: absolute;
      height: 5px;
      border-top: 1px solid #aaa;
      top: 0;
    }

    &:before {
      right: 100%;
      margin-right: 15px;
      width: 500px;
    }

    &:after {
      left: 100%;
      margin-left: 15px;
      width: 2000px;
    }

    .fa {
      line-height: 0 !important;
      font-style: normal;
      margin: 0 5px;
      color: $ft-orange;
    }
  }
}

.reality-check-title.green .fa {
  color: greenyellow;
}

ol.ft.green {
  li {
    &:before {
      color: greenyellow;
    }
  }
}

ol.ft {
  font-family: Roboto;
  list-style: none !important;
  counter-reset: li;

  li {
    counter-increment: li;

    &:before {
      content: "." counter(li);
      color: $ft-orange;
      display: inline-block;
      width: 2em;
      margin-left: -1.5em;
      margin-right: 0.5em;
      text-align: right;
      direction: rtl
    }
  }
}

ul.ft.green {
  li:before {
    color: greenyellow;
  }
}

ul.ft {
  font-family: Roboto;
  list-style: none !important;

  li:before {
    content: "⋄";
    color: $ft-orange;
    display: inline-block;
    width: 2em;
    margin-left: -1em
  }
}

.definition {
  display: inline-block;
  background: #777;
  color: white;
  line-height: 27px !important;
  vertical-align: middle;
  padding: 0 5px 0 0;
  font-family: Roboto;
  margin-right: .4em;
  overflow: hidden;

  .skew {
    display: inline-block;
    width: 8px;
    height: 28px;
    margin-left: -3px;
    background: #555;
    margin-bottom: -9px;
    border-right: 2px solid white;
    transform: skewX(-6deg);
  }
}

.ask-yourself {
  font-family: Roboto;
  padding-left: 60px;
  line-height: 1.4em;
  font-style: italic;
  color: #555;

  &:before {
    content: "";
    background-image: url('../images/AskYourselfIcon.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 45px;
    height: 45px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    margin-left: -60px;
  }

  .highlight {
    display: inline;
    color: $ft-orange;
    text-transform: uppercase;
    font-style: normal;
  }
}

.ask-yourself.green:before {
  background-image: url('../images/AskYourselfIcon_Green.jpg');
}

.ask-yourself.green .highlight {
  color: greenyellow;
}

.tip {
  background-image: url('../images/TipBackgroundPattern.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 1px solid $ft-orange;
  font-family: Roboto;
  color: #555;
  line-height: 80px !important;
  height: 80px;

  &:before {
    content: "";
    position: relative;
    display: inline-block;
    height: 30px;
    border: 4px solid $ft-orange;
    top: 15px;
    left: -4px;
  }

  .highlight {
    display: inline;
    color: $ft-orange;
    text-transform: uppercase;
    font-style: normal;
    margin-left: 1em;
    font-weight: bold;
  }
}

.tip.green {
  background-image: url('../images/TipBackgroundPattern_Green.jpg');
  border-color: greenyellow;

  &:before {
    border-color: greenyellow;
  }

  .highlight {
    color: greenyellow;
  }
}

.alt-quote {
  font-family: Roboto;
  vertical-align: middle;
  color: #555;
  padding: 20px 50px;
  background-image: url('../images/alt-quote.png');
  background-repeat: no-repeat;
  background-position-x: 0;
  background-size: 25px 100%;
  font-style: italic;
  line-height: 25px;

  .author {
    vertical-align: middle;
    color: #777;
    font-weight: bold;
  }
}
