.window-wrap {
  height: 100%;
}

.content-wrapper {
  background-color: #fff;

  .instructor-dashboard-wrapper-2 {
    margin-top: 60px;
  }

  .instructor-dashboard-wrapper-2 .instructor-dashboard-content-2 {
    display: inline-block;
  }
}

// instructor
body.view-in-course .instructor-dashboard-wrapper-2 {
  margin-top: 60px;

  #main {
    padding-top: 0;
  }
}

