$ft-orange: #f76b1c;

.search-facets-lists {
  ul.facet-list {
    padding-left: 2.5rem;
    width: calc(100% - 5rem);

    input {
      width: 100%;
    }
  }

  input[type=checkbox] {
    display: none;

    &:checked + label {
      background: #bbb;
      border: 1px solid #aaa;
      color: white;
      font-weight: bold;
    }
  }

  input[type=text] {
    border-radius: 0;
  }

  a.clear-all {
    float: right;
    text-transform: uppercase;
    color: #777;
    margin-top: .6rem;
    margin-right: .4rem;
    font-size: .8rem;
    font-weight: bold;
  }

  label {
    font-style: initial;
    width: 100%;
    display: inline-block;
    padding: 0 .6rem;

    .fa.fa-times {
      float: right;
      color: white;
      margin-top: .25rem;
    }
  }

  select {
    background-color: white;
    padding: .4rem;
    width: 100%;
    border-color: #c8c8c8;
  }

  button {
    border: 0 none;
    outline: 0 none;
    background: transparent;
    color: $ft-orange;
    box-shadow: 0 0 0;
    letter-spacing: 0;
    float: right;
    margin-top: 1.4rem;
    margin-right: .6rem;
    font-weight: bold;

    &:hover, &:active, &:focus {
      border: 0 none;
      outline: 0 none;
      background: transparent;
      box-shadow: 0 0 0;
      letter-spacing: 0;
      opacity: .7;
    }
  }

  .fa {
    margin-right: .4rem;
  }
}

.courses-container .courses {
  h1.no-results {
    font-size: 5rem;
    color: #ddd;
    font-weight: bold;
    letter-spacing: -1px;
  }

  h2.no-results {
    font-style: italic;
    text-transform: none;
    color: #aaa;
    letter-spacing: 0px;
    line-height: 2rem;
    width: 50%;
    margin: auto;
    text-align: center;
  }

  .course-image img {
    width: 100%;
    max-width: 100%;
    height: 160px;
    max-height: 160px;
  }
}
