// we still need the functionality of the nav
.sequence-nav {
  display: none;
}

.course-wrapper .course-content .sequence .path {
  margin: 0;
  padding: 10px 0;

  .path-content {
    display: block;
    margin: 0;
    padding: 10px 0;
    line-height: normal;
    font-size: 42px;
    font-weight: 500;
    color: black;
  }

  .xblocks-dropdown-menu {
    display: inline-block;
    position: relative;

    .dropbtn {
      margin: 10px 0;
      border-bottom: 2px solid #cfcccc;
      cursor: pointer;

      .fa-caret-down {
        padding-left: 5px;
      }
    }
    .dropdown-content {
      display: none;
      position: absolute;
      min-width: 160px;
      z-index: 1;
      overflow: auto;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      background-color: #f9f9f9;

      &.show {
        display: block;
      }

      a {
        display: block;
        padding: 12px 16px;
        cursor: pointer;
        text-decoration: none;
        color: black;

        &:hover {
          background-color: #f1f1f1;
        }
      }
    }
  }
}