<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>

<%block name="pagetitle">Affiliates</%block>

<style>
  .container {
    max-width: 1400px;
  }

  .students-table {
    margin-bottom: 6rem;
  }

  #learner-info span {
    display: inline-block;
    width: 33%;
    box-sizing: border-box;
    text-align: center;
    line-height: 0.5rem;
    padding: 4rem 0;
  }

  #learner-info span h2 {
    font-weight: bold;
  }
</style>

<section class="container">
  % if messages:
    % for message in messages:
      <p>${message}</p>
    % endfor
  % endif

  <div id="csv-actions">
    <a href="csv_admin">
      CSV Downloads
    </a>
  </div>

  <hr />

  <div id="impersonate">
    <a href="#">
      Impersonate a user
    </a>
    <form action="login_as_user" method="POST" style="display: none;">
      <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}" />
      <input type="email" placeholder="Email of user to impersonate" />
      <input type="submit" value="Impersonate" />
    </form>
  </div>

  <script>
    $('#impersonate a').on('click', function () {
      $('#impersonate form').slideToggle();
    });
  </script>

  <div id="learner-info">
    <h1 class="explore-header">
      Learners
    </h1>

    <span>
      <h2>
        ${total_learners}
      </h2>
      <br>
      Total Learners
    </span>

    <span>
      <h2>
        ${total_affiliate_learners}
      </h2>
      <br>
      Total Affiliate Learners
    </span>

    <span>
      <h2>
        ${total_fasttrac_learners}
      </h2>
      <br>
      Total FastTrac Learners
    </span>
  </div>

    <h1 class="explore-header">
      Courses
    </h1>

    <table class="students-table">
        <thead>
          <tr>
            <th><b>Course Name</b></th>
            <th>Affiliate Name</th>
            <th>Affiliate Active</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Participant Count</th>
            <th>Delivery Mode</th>
            <th>Enrollment Type</th>
            <th>Course Type</th>
            <th>Fee</th>
            <th>Facilitator Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          % for ccx in ccxs:
            <tr>
              <td>${ccx.display_name}</td>
              <td>${ccx.affiliate.name}</td>
              <td>
                  % if ccx.affiliate.active:
                    Yes
                  % else:
                    No
                  % endif
              </td>
              <td>${ccx.time.strftime("%B %d, %Y") if ccx.time else '--'}</td>
              <td>${ccx.end_date.strftime("%B %d, %Y") if ccx.end_date else '--'}</td>
              <td>${ccx.students.count()}</td>
              <td>${ccx.get_delivery_mode_display()}</td>
              <td>${ccx.get_enrollment_type_display()}</td>
              <td>${ 'FastTrac' if partial_course_key in unicode(ccx.ccx_course_id) else 'Facilitator Guide'}</td>
              <td>${'Yes' if ccx.fee else 'No'}</td>
              <td>${ccx.facilitator_names}</td>
              <td><a href="/courses/${ccx.ccx_course_id}/about">View</a></td>
            </tr>
          %endfor
        </ul>
      </table>



    <h1 class="explore-header">
      Affiliates
    </h1>
    <table class="students-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Active</th>
          <th>Members count</th>
          <th>Courses count</th>
          <th>Enrollments count</th>
          <th>Last Course Taught</th>
          <th>Last Course Date</th>
          <th>Last Affiliate User Login (name, date)</th>
          <th>Last Affiliate Learner Login</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        % for affiliate in affiliates:
          <tr>
            <td>
              ${affiliate.name}
            </td>
            <td>
              % if affiliate.active:
                Yes
              % else:
                No
              % endif
            </td>
            <td>
              ${affiliate.members.count()}
            </td>
            <td>
              ${affiliate.courses.count()}
            </td>
            <td>
              ${affiliate.enrollments.count()}
            </td>
            <td>
              % if affiliate.last_course_taught:
                <a href="/courses/${affiliate.last_course_taught.ccx_course_id}/info">
                  ${affiliate.last_course_taught.display_name}
                </a>
              % else:
                --
              % endif
            </td>
            <td>
                % if affiliate.last_course_taught:
                  ${affiliate.last_course_taught.end_date.strftime("%B %d, %Y")}
                % else:
                  --
                % endif
            </td>
            <td>
              % if affiliate.last_affiliate_user:
                <a href="/u/${affiliate.last_affiliate_user.username}">
                  ${affiliate.last_affiliate_user.profile.name},
                  ${affiliate.last_affiliate_user.last_login.strftime("%B %d, %Y")}
                </a>
                % else:
                --
                % endif
              </td>
              <td>
                % if affiliate.last_affiliate_learner:
                  <a href="/u/${affiliate.last_affiliate_learner.username}">
                    ${affiliate.last_affiliate_learner.profile.name},
                    ${affiliate.last_affiliate_learner.last_login.strftime("%B %d, %Y")}
                  </a>
                % else:
                  --
                % endif
            </td>
            <td>
              <a href="/affiliates/${affiliate.slug}">View</a>
            </td>
          </tr>
        %endfor
      </ul>
    </table>
  </div>
</section>
