<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>

<%block name="pagetitle">Affiliates</%block>

<style>
  .students-table {
    margin-bottom: 6rem;
  }
</style>

<section class="container">
  <script type="text/javascript">
    $(document).ready(function() {
      $('.wrapper-footer').addClass('fixed-footer')
    })
  </script>

  <div>
    <h1 class="explore-header">
      Affiliate Admin
    </h1>
    <table class="students-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Members count</th>
          <th>Courses count</th>
          <th>Enrollments count</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        % for affiliate in affiliates:
          <tr>
            <td>
              ${affiliate.name}
            </td>
            <td>
              ${affiliate.members.count()}
            </td>
            <td>
              ${affiliate.courses.count()}
            </td>
            <td>
              ${affiliate.enrollments.count()}
            </td>
            <td>
              <a href="/affiliates/${affiliate.slug}">View</a>
            </td>
          </tr>
        %endfor
      </ul>
    </table>
  </div>
</section>
