<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>

<%block name="pagetitle">Affiliates CSV Actions</%block>

<style>
  .flash-message {
    width: 80%;
    padding: 1rem;
    margin: 2rem;
    border: 1px solid #777;
  }

  #csv-actions {
    height: 70px;
  }

  #csv-actions a {
    border: 1px solid;
    padding: 1rem;
    margin-left: 2rem;
  }

  #csv-files li {
    height: 30px;
    line-height: 30px;
  }
</style>

<section class="container">
  <script type="text/javascript">
    $(document).ready(function() {
      $('.wrapper-footer').addClass('fixed-footer')
    })
  </script>

  % if messages:
    % for message in messages:
      <p class="flash-message">${message}</p>
    % endfor
  % endif

  <div id="csv-actions">
    <a href="csv_export?report_type=export_csv_affiliate_report">
      Export Affiliate Report CSV
    </a>
  </div>

  <div id="csv-files">
    <h1>Download generated CSV files</h1>
    <ul>
      % for name, url in csv_files:
      <li>
        <a href="${url}">${name} Download</a>
      </li>
      % endfor
    </ul>
  </div>
</section>
