<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>

<%block name="pagetitle">Explore Affiliates</%block>

<section class="container explore-affiliates">
  <script type="text/javascript">
    $(document).ready(function() {
      $('.wrapper-footer').addClass('fixed-footer')
    })
  </script>

  <div class="affiliate-sidebar">
    <div class="header">
      Refine List
    </div>

    <div class="sidebar-body">
      <form class="affiliate-filter-form" action="/affiliates/" method="POST">
        <a href="/affiliates" class="clear-all"> <span class="fa fa-remove"></span> Clear All</a>
        <div class="sidebar-filter">
          <div class="fa fa-user"></div>
          <span class="filter-label">Affiliate Name</span>
          <input type="text" name="affiliate_name" placeholder="Search Affiliate" value="${affiliate_name}">
        </div>

        <div class="sidebar-filter">
          <div class="fa fa-map-marker"></div>
          <span class="filter-label">Location</span>
          <input type="text" name="affiliate_city" placeholder="City" value="${affiliate_city}">
          <select name="affiliate_state">
            <option selected disabled> state </option>
            % for choice in state_choices:
              <option value="${choice[0]}" ${ 'selected' if affiliate_state == choice[0] else '' }>${choice[1]}</option>
            % endfor
          </select>
          <input type="text" name="affiliate_zipcode" class="affiliate_zipcode" placeholder="Zipcode">
          <select name="affiliate_search_radius" name="affiliate_search_radius">
            <option selected disabled> search radius </option>
            <option value="5">5 miles</option>
            <option value="10">10 miles</option>
            <option value="20">20 miles</option>
            <option value="50">50 miles</option>
            <option value="100">100 miles</option>
          </select>
          <input class="latitude-field" type="hidden" name="latitude">
          <input class="longitude-field" type="hidden" name="longitude">
        </div>

        <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}" />
        <button id="submit-search"> Submit <span class="fa fa-arrow-right"></span></button>
      </form>
    </div>
  </div>

  <script>
    function buildGisApiUrl(zipcode) {
      var baseUrl = 'https://maps.googleapis.com/maps/api/geocode/json?address=';

      return baseUrl + '+' + zipcode + '+US';
    }

    function submitFormWithCoordinates(e) {
      var $form = $('.affiliate-filter-form');
      var zipcode = $form.find('.affiliate_zipcode').val();
      var $latitudeField = $form.find('.latitude-field');
      var $longitudeField = $form.find('.longitude-field');
      var gisApiUrl = buildGisApiUrl(zipcode);

      if (zipcode) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', gisApiUrl, false);
        xhr.onload = function () {
          if (this.status === 200) {
            var results = JSON.parse(this.responseText).results;
            if (results.length !== 0) {
              var location = results[0].geometry.location
              var latitude = location.lat;
              var longitude = location.lng;

              $latitudeField.val(latitude);
              $longitudeField.val(longitude);
            }
          }
        };
        xhr.send(null);
      }

      return true;
    }

    $(document).ready(function(){
      $('.explore-header').on('click', function() {
        $('.hidden-explore-option').toggleClass('hidden');
      })

      $('.affiliate-filter-form').on('submit', submitFormWithCoordinates);
    })
  </script>

  <div class="affiliate-content">
    <h1 class="explore-header">
      Explore Affiliates
      <div class="fa fa-caret-down"></div>
      <br>
      <a href="/courses" class="hidden-explore-option hidden">
        Explore Courses
      </a>
    </h1>
    % for message in user_messages:
        <span class="user-message">${message}</span>
    % endfor
    <ul>
      % for affiliate in affiliates:
        <li class="affiliate-card">
          <div class="image" style="background-image: url(${affiliate.image_url});"></div>
          <div class="name" title="${affiliate.name}">
            ${affiliate.name}
          </div>
          <div class="description" title="${affiliate.description}">
            ${affiliate.description}
          </div>
          <div class="card-footer">
            <span class="skewed-footer-item">
              <span>
                <span class="fa fa-map-marker"></span>
                ${affiliate.state}
              </span>
            </span>
            <span>
              <a href="/affiliates/${affiliate.slug}">
                View
                <span class="fa fa-arrow-circle-o-right"></span>
              </a>
            </span>
          </div>
        </li>
      %endfor
    </ul>
  </div>
</section>
