<%! from ccx_keys.locator import CCXLocator %>
<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>

<%block name="pagetitle">Affiliate Information - ${affiliate.name}</%block>

<section class="course-info">
  <header class="course-profile">
    <div class="intro-inner-wrapper">
      <div class="table">
        <section class="intro">
          <div class="heading-group">
            <h1>
              ${affiliate.name}
            </h1>
          </div>

          <div class="main-cta">
            <div class="fa fa-map-marker"></div>
            ${affiliate.city}
            , ${affiliate.state}
          </div>
        </section>

        <div class="media">
          <div class="hero" style="background-image: url(${affiliate.image_url})"></div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="details">
      % if is_program_director:
        <a href="/affiliates/edit/${affiliate.slug}">
          <i class="fa fa-pencil"></i>
          Edit Affiliate Info
        </a>
        <br>
        <br>
      % endif

      % if user.is_staff:
        <a onclick="return confirm('This will delete ALL affiliate courses. This cannot be undone. Are you sure you want to delete ${affiliate.name}')" href="/affiliates/delete/${affiliate.slug}">
          <i class="fa fa-ban"></i>
          Delete Affiliate
        </a>
        <br>
        <br>
      % endif

      <div class="inner-wrapper">
        <h4>Description</h4>
        <p>${affiliate.description}</p>

        <br><br>
        <h4>Affiliate Courses</h4>
        <div class="affiliate-courses">
          <ul>
            % for course in affiliate.courses.filter(enrollment_type='PUBLIC'):
              <li class="affiliate-card">
                <div class="image" style="background-image: url(${affiliate.image_url});"></div>
                <div class="name">
                  ${course.display_name}
                </div>
                <div class="description">
                  % if len(course.course_description) > 90:
                    <span>${course.course_description[:90] + '...'}</span>
                  % else:
                      <span>${course.course_description}</span>
                  % endif
                </div>
                <div class="card-footer">
                  <span class="delivery-mode-item">
                    % if course.delivery_mode == 'IN_PERSON':
                        <i class="fa fa-users"></i>
                    % else:
                        <i class="fa fa-globe"></i>
                    % endif
                    ${course.get_delivery_mode_display()}
                  </span>
                  <span class="skewed-footer-item">
                    <span>
                      <span class="fa fa-map-marker"></span>
                      ${course.location_state}
                    </span>
                  </span>
                  <span>
                    <a href="/courses/${CCXLocator.from_course_locator(course.course_id, unicode(course.pk))}/about">
                      View
                      <span class="fa fa-arrow-circle-o-right"></span>
                    </a>
                  </span>
                </div>
              </li>
            % endfor
          </ul>
        </div>
      </div>
  </div>
    <div class="course-sidebar">
      <div class="course-summary">
        <h4>Contact Info.</h4>

        <ul class="contact-info">
          <li>
            <div class="fa fa-envelope"></div>
            <a href="mailto:${affiliate.email}">${affiliate.email}</a>
          </li>

          <li>
            <div class="fa fa-phone-square"></div>
            <a href="tel:${affiliate.phone_number}">${affiliate.phone_number}</a>
          </li>

          <li>
            <div class="fa fa-globe"></div>
            <a href="${affiliate.website}" target="_blank">${affiliate.website}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
