#affiliate-admin {
  .affiliate-select-wrapper {
    margin-bottom: 40px;
    border-bottom: 1px solid $ft-gray;

    select#affiliate-select {
      @include header-nav-link;

      height: 50px;
      margin-left: 20px;
      margin-bottom: 0px;
      color: #222;
      border: none;
      outline: none;
      background: transparent;

      option {
        @include header-nav-link;
      }
    }
  }

  nav.top-nav {
    li {
      @include header-nav-link;
    }
  }

  .edit-affiliate-container {
    width: unset;

    #add_member_form {
      margin-bottom: 40px;

      input.add-member-email {
        width: 40%;
        margin-bottom: 0px;
        margin-left: 0px;
      }

      select.add-member-role {
        width: 20%;
        margin-right: 10px;
        margin-bottom: 0px;
      }

      button.add-member-btn {
        @include ft-button;
        text-align: center;
      }
    }

    a.remove-member,
    a.remove-invite {
      &:hover {
        text-decoration: none;
        cursor: pointer;
      }
    }

    h1.explore-header {
      cursor: unset;
    }

    .toggle-affiliate-status {
      @include ft-button;
      float: right;
    }
  }

  #course-mngmt {
    li.affiliate-course-card {
      @include affiliate-course-card;
    }
  }
}
