.container.explore-affiliates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;

  width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.affiliate-sidebar {
  height: calc(100% - 60px);
  width: 20%;
  border-right: 1px solid #ddd;
  background-image: url('../images/newSearchBg.jpg');

  .header {
    text-transform: uppercase;
    font-weight: bold;
    color: #999;
    padding: 1rem;
    border: 1px solid #ddd;
    border-right: 0 none;
    background: #f0f0f0;
  }

  .sidebar-body {
    background: white;
    min-height: 50%;
    border-bottom: 1px solid #ddd;

    .clear-all {
      float: right;
      color: #777;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0;
      margin: .5rem;
      font-size: .9rem;
    }
  }

  .sidebar-filter {
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;

    .filter-label {
      display: inline-block;
      margin: 1rem 0;
    }

    input[type=text], select {
      border-radius: 0;
      padding: .3rem;
      margin: .5rem 1rem;
      width: 80%;
    }

    select {
      background: transparent;
      padding: .3rem;
      border-color: #ccc;
    }
  }

  #submit-search {
    float: right;
    color: $ft-orange;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 1rem;
    margin-top: 1rem;
    border: 0 none;
    letter-spacing: 0;

    &:hover {
      background: transparent;
      opacity: .7;
    }
  }
}

h1.explore-header {
  font-weight: bold;
  color: #555;
  letter-spacing: 0;
  text-align: left;
  border-bottom: 1px solid #aaa;
  padding-bottom: .5rem;
  cursor: pointer;

  .fa-caret-down {
    color: $ft-orange;
    font-size: 1rem;
    vertical-align: middle;
    margin-left: 1rem;
  }

  a {
    color: #aaa;

    &:hover {
      color: $ft-orange;
      text-decoration: none;
    }
  }
}

.affiliate-content {
  width: 65%;
  padding-top: 1rem;

  .user-message {
    font-size: 0.9rem;
    font-style: italic;
  }
}

.affiliate-content, .affiliate-courses {
  ul {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-flow: row wrap;
  }

  .affiliate-card {
    @include affiliate-course-card;
  }
}

.course-info {
  .image-upload-error-message {
    margin: 2rem 20%;
    padding: 18px;
    background: lightcoral;
  }

  header.course-profile {
    padding-top: 80px !important;
    border-bottom: 0 none !important;
    background: url('../images/newSearchBg.jpg') !important;
  }

  .intro-inner-wrapper {
    border: 0 none !important;
  }

  .skewed-footer-item {
    border-left: 1px solid #ddd;
  }

  .media {
    width: 30% !important;
  }

  .intro .fa-map-marker {
    color: $ft-orange;
    margin-right: .5rem;
  }

  .intro, .media {
    border-bottom: 5px solid #555;
  }

  .container .details {
    width: 60% !important;

    h4 {
      text-transform: uppercase;
      color: #aaa;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1.2rem;
    }

    p {
      color: #555;
    }
  }
}

.course-sidebar .course-summary {
  h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9rem;
    color: #777;
    padding-bottom: .8rem;
    margin-top: 10px;
  }

  .contact-info {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 1rem;
      border-bottom: 1px solid #ddd;

      .fa {
        color: #777;
        margin-right: .5rem;
      }

      a {
        color: $ft-orange;
        font-weight: bold;
      }
    }
  }

  a.affiliate-box:hover {
    text-decoration: none;
  }

  .parent-affiliate,
  .sub-affiliate {
    @include affiliate-box;

    &:hover {
      text-decoration: none;
    }
  }
}

.edit-affiliate-container {
  text-align: center;
  width: 60%;
  margin: auto;

  input::placeholder {
    opacity: 0.5;
  }

  input {
    color: #222;
  }

  input[type=number] {
    width: calc(100% - 357px);
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  * {
    text-align: left;
  }

  .form-control {
    margin-bottom: 10px;
  }

  .affiliate-type-toggle {
    display: inline-block;
    width: calc(100% - 335px);
    margin-left: 10px;

    label {
      display: inline-block;
      width: 31%;
      margin-right: 1.2%;
      border: 1px solid $ft-gray;
      padding: 10px 0px;
      text-align: center;
      font-size: 1em;
      font-weight: 500;
      transition-duration: .5s;
    }

    input[type="radio"]:checked + label {
      border-color: $ft-orange;
      box-shadow: 0 0 0 2px $ft-orange inset;
      color: $ft-orange;
    }
  }

  ul.sub-affiliates-list {
    width: calc(100% - 340px);

    li {
      padding: 10px 20px;
      margin-bottom: 10px;
      border: 1px solid $ft-gray;

      .remove-btn {
        float: right;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .form-control {
    &.parent-type {
      ul {
        display: inline-block;
        vertical-align: top;
        padding-left: 10px;
        list-style: none;

        li {
          margin-bottom: 5px;

          button {
            border: none;
            font-size: 0.8rem;
            vertical-align: middle;
            color: $ft-orange;

            &:hover,
            &:active {
              background: none;
            }
          }
        }
      }

      .affiliates-list {
        width: calc(100% - 420px);
      }

      button.add-btn {
        @include ft-button;
        border-radius: 0;
        height: 37px;
        font-size: 1rem;
        text-align: center;
      }
    }
  }

  label {
    display: inline-block;
    width: 300px;
    line-height: 35px;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    color: #555;
  }

  .help {
    display: block;
    width: 300px;
    font-size: 0.9rem;
    font-weight: 400;
    color: #848484;
  }

  input, select, textarea {
    display: inline-block;
    width: calc(100% - 335px);
    padding: 0 10px;
    height: 35px;
    margin-left: 10px;
    border: 0;
    font-weight: 400;
    outline: 0;
    box-shadow: 0 0 0;
    border: 1px solid $ft-gray;
    border-radius: 0;
    font-style: normal;
    background: transparent;
    color: #555;

    transition-duration: .5s;

    &[type=file] {
      border: none;
    }
  }

  textarea {
    height: 8rem;
  }

  select {
    padding-left: 5px;
  }

  input:focus,
  textarea:focus {
    border-color: $ft-orange;
    box-shadow: 0 0 0;
    outline: 0;
  }

  input[type=submit] {
    margin-left: calc(100% - 190px);
    margin-bottom: 3rem;
    width: 150px;
    padding: 1rem;
    background: $ft-orange;
    color: white;
    line-height: 0;

    &:hover {
      opacity: .8;
      background: $ft-orange;
      color: white;
    }
  }

  .affiliate-activation {
    display: inline-block;
    float: right;

    &-btn[type=submit] {
      background: #f76b1c;
      color: white;
      vertical-align: bottom;
      padding: .4rem;
      margin: 0;
      letter-spacing: 0;
      font-size: 1rem;
    }
  }
}

#add_member_form {
  input, select {
    display: inline-block;
    width: 40%;
    vertical-align: bottom;
    padding: .4rem;
    margin-bottom: 1rem;
  }

  #add_member_submit {
    margin: 0;
    font-size: 1rem;
    letter-spacing: 0;
    width: 18%;
  }
}



#affiliate_membership_table, #affiliate_invites_table {
  width: 100%;
  margin: 2rem 0;

  th {
    height: 3rem;
  }

  tr {
    height: 2rem;
  }
}




@media screen and (max-width: 980px) {
  .edit-affiliate-container {
    .affiliate-type-toggle {
      display: block;
      width: 100%;

      label {
        display: block;
        width: 100%;
        margin-bottom: 10px;
      }
    }

    ul.sub-affiliates-list {
      width: 100%;
    }

    .form-control.parent-type select.affiliates-list {
      width: 100%;
      margin-bottom: 10px;
    }

    button.add-btn {
      width: 100%;
    }

    label {
      display: block;
      width: 100%;
      text-align: center;
    }

    input:not(.upload-profile-image), select, textarea {
      display: block;
      width: 100%;
      margin: 0;
      border-left: none;
      border-top: none;
      border-right: none;
    }

    input[type=submit] {
      margin-left: 0;
      width: 100%;
    }
  }
}

@import 'affiliate-admin';
