@mixin ft-button {
  background: $ft-orange;
  color: white;
  border: none;
  box-shadow: none;
  transition-duration: 0.1s;

  &:hover, &:active {
    background: $ft-orange;
    color: white;
    border: none;
    opacity: 0.7;
  }

  &:focus {
    outline: none;
  }
}

@mixin affiliate-box {
  display: block;
  width: 300px;
  margin: 10px;
  border: 1px solid $ft-gray;
  padding: 10px;

  .affiliate-image {
    display: inline-block;
    width: 30%;
    margin-right: 10px;

    img {
      width: 100%;
    }
  }

  .affiliate-info {
    display: inline-block;
    width: 65%;
    vertical-align: top;

    .affiliate-name {
      color: $ft-temp-darkgray;
      font-size: 1.2rem;
    }

    .affiliate-address {
      margin-top: 10px;
      color: $ft-gray;
    }
  }
}
