@import 'lms/static/sass/lms-course';
@import './course/navigation';
@import 'course/role_dashboards';

$prev-next-color: silver;
$prev-next-color-light: #d6d6d6;
$ft-temp-gray: #efeded;

$ft-font-menu-color: #b5b5b5;
$ft-font-menu-active-color: #949494;

//TODO: create file to add fasttrac colors (when we get designs)
$ft-orange: #f76b1c;

// Marin clumsy override until we get the design
.courseware-bookmarks-button {
  position: absolute;
  top: 72px;
  left: 700px;
  width: 150px;
}

div.course-spinner {
  display: inline-block;
  width: 80%;
  position: relative;
  border: none;
  box-shadow: none;

  .fa {
    position: absolute;
    left: calc(50% - 16px);
  }
}

/* HEADER */

.header-global.slim {
  padding: 0;

  h1.logo {
    position: absolute;
    top: 0;
    margin: 0;

    img {
      height: 40px;
    }

    &:before, &:after {
      display: none;
      height: 25px;
    }
  }
}

/* end header */

$course-index-width: 17%;
div.course-index {
  display: inline-block;
  vertical-align: top;
  width: $course-index-width;
  border: none;
  box-shadow: none;

  &.retracted {
    margin-left: -$course-index-width;
    border: none;
    box-shadow: none;
  }
}

body.view-in-course {
  background-color: white;

  .container {
    padding: 0;
    display: table;
    width: 100%;

    visibility: hidden; // hidden until loaded
    &.loaded {
      visibility: visible;
    }
  }

  // bookmark, search and print
  .bookmark-button-wrapper {
    position: absolute;
    top: 0;
    right: 50px;

    .btn.bookmark-button,
    .btn.bookmark-button:active {
      border: none;
      color: $prev-next-color;
      outline: none;
      font-size: 20px;

      &.bookmarked,
      &:hover {
        color: $ft-orange;
        background-color: transparent;
      }
    }
  }

  div.course-wrapper {
    display: inline-block;
    max-width: 100%;
    width: calc(83% - 1px); // border is 1px
    padding-bottom: 56px; // height of footer-wrapper
    border: none;
    border-left: 1px solid $ft-temp-gray;

    box-shadow: none;
    background: white;

    &.extended {
      width: 100%;
      border-left: none;
      -webkit-transition: width 0.5s;
      transition: width 0.5s;

      .wrapper-course-modes {
        border: none;
      }
    }

    .sequence {
      padding: 10px 45px;
      position: relative; // later on we are going to attach arrows on this div with absolute pos.
    }

    // previews and next arrows / buttons
    .xmodule_display.xmodule_SequenceModule nav.sequence-bottom {
      position: absolute;
      left: -20px;
      right: -20px;
      top: 350px;
      width: inherit;
      cursor: pointer;

      color: $prev-next-color;
      .fa {
        padding-top: 14px;
        font-size: 10px;
        &.fa-arrow-right {
          padding-left: 2px;
        }
      }

      div.arrow-text {
        font-size: 12px;
        font-weight: 600;
        color: $prev-next-color-light;
        text-decoration: underline;
        text-transform: uppercase;

        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
      }
    }
  }
}

// COURSE main display
.course-wrapper {
  background-color: #fff;

  .courseware-results-wrapper {
    padding: 0;
  }

  .course-content {
    display: block;
    width: 100%;

    padding: 20px 3% 40px 3%;
  }

  .xblock-student_view.xblock-student_view-sequential.xblock-initialized {
    margin: 0 auto;
    padding: 0 20px;
  }
}

// TODO: explore why this is being overwritten
nav.wrapper-course-material .course-tabs li a {
  text-transform: uppercase;
  font-weight: 600;
  color: $ft-font-menu-color !important; // I really had to.
  border-bottom: none !important;

  &.active,
  &:hover {
    color: $ft-font-menu-active-color !important; // I really had to.
  }
}

// menu will be placed like it's part of the course display
.course-material {
  margin: 0;
  width: 100%;
  position: absolute;
  z-index: 20;
  left: 3%;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  &.with-sidebar {
    left: 20%;
  }
}

// NEXT footer inside of the course
.next-unit-footer {
  position: absolute;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #ebebeb;
  text-align: center;
  color: #969696;
  font-size: 14px;
  border: 1px solid #dddddd;

  .fa {
    padding-left: 10px;
    font-size: 18px;
  }
}


/* Courseware elements custom classes */
.element-title {
  line-height: 0 !important;
  text-align: center;
  padding: 1em;
  /*width: 50%; can be anything*/
  overflow: hidden;

  span {
    display: inline-block;
    position: relative;
    font-size: 24px;
    line-height: 0 !important;
    font-family: Roboto;
    font-weight: bold;

    &:before, &:after {
      content: "";
      position: absolute;
      height: 5px;
      border-top: 1px solid #aaa;
      top: 0;
      width: 600px;
    }

    &:before {
      right: 100%;
      margin-right: 15px;
    }

    &:after {
      left: 100%;
      margin-left: 15px;
    }
  }
}


.supplemental-text {
  padding-left: 1em;
  border-left: 2px solid #aaa;
  font-family: Roboto;
  font-style: italic;
  color: #777;

  a {
    color: $ft-orange !important;
    text-decoration: underline;
  }
}

.reality-check-title {
  line-height: 0 !important;
  text-align: center;
  padding: 1em;
  overflow: hidden;

  span {
    display: inline-block;
    position: relative;
    font-size: 24px;
    line-height: 0 !important;
    font-family: Roboto;
    font-weight: bold;
    margin-left: -800px;

    &:before, &:after {
      content: "";
      position: absolute;
      height: 5px;
      border-top: 1px solid #aaa;
      top: 0;
    }

    &:before {
      right: 100%;
      margin-right: 15px;
      width: 500px;
    }

    &:after {
      left: 100%;
      margin-left: 15px;
      width: 2000px;
    }

    .fa {
      line-height: 0 !important;
      font-style: normal;
      margin: 0 5px;
      color: $ft-orange;
    }
  }
}

.reality-check-title.green .fa {
  color: greenyellow;
}

ol.ft.green {
  li {
    &:before {
      color: greenyellow;
    }
  }
}

ol.ft {
  font-family: Roboto;
  list-style: none !important;
  counter-reset: li;

  li {
    counter-increment: li;

    &:before {
      content: "." counter(li);
      color: $ft-orange;
      display: inline-block;
      width: 2em;
      margin-left: -1.5em;
      margin-right: 0.5em;
      text-align: right;
      direction: rtl
    }
  }
}

ul.ft.green {
  li:before {
    color: greenyellow;
  }
}

ul.ft {
  font-family: Roboto;
  list-style: none !important;

  li:before {
    content: "⋄";
    color: $ft-orange;
    display: inline-block;
    width: 2em;
    margin-left: -1em
  }
}

.definition {
  display: inline-block;
  background: #777;
  color: white;
  line-height: 27px !important;
  vertical-align: middle;
  padding: 0 5px 0 0;
  font-family: Roboto;
  margin-right: .4em;
  overflow: hidden;

  .skew {
    display: inline-block;
    width: 8px;
    height: 28px;
    margin-left: -3px;
    background: #555;
    margin-bottom: -9px;
    border-right: 2px solid white;
    transform: skewX(-6deg);
  }
}

.ask-yourself {
  font-family: Roboto;
  padding-left: 60px;
  line-height: 1.4em;
  font-style: italic;
  color: #555;

  &:before {
    content: "";
    background-image: url('../images/AskYourselfIcon.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 45px;
    height: 45px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    margin-left: -60px;
  }

  .highlight {
    display: inline;
    color: $ft-orange;
    text-transform: uppercase;
    font-style: normal;
  }
}

.ask-yourself.green:before {
  background-image: url('../images/AskYourselfIcon_Green.jpg');
}

.ask-yourself.green .highlight {
  color: greenyellow;
}

.tip {
  background-image: url('../images/TipBackgroundPattern.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 1px solid $ft-orange;
  font-family: Roboto;
  color: #555;
  line-height: 80px !important;
  height: 80px;

  &:before {
    content: "";
    position: relative;
    display: inline-block;
    height: 30px;
    border: 4px solid $ft-orange;
    top: 15px;
    left: -4px;
  }

  .highlight {
    display: inline;
    color: $ft-orange;
    text-transform: uppercase;
    font-style: normal;
    margin-left: 1em;
    font-weight: bold;
  }
}

.tip.green {
  background-image: url('../images/TipBackgroundPattern_Green.jpg');
  border-color: greenyellow;

  &:before {
    border-color: greenyellow;
  }

  .highlight {
    color: greenyellow;
  }
}

.alt-quote {
  font-family: Roboto;
  vertical-align: middle;
  color: #555;
  padding: 20px 50px;
  background-image: url('../images/alt-quote.png');
  background-repeat: no-repeat;
  background-position-x: 0;
  background-size: 25px 100%;
  font-style: italic;
  line-height: 25px;

  .author {
    vertical-align: middle;
    color: #777;
    font-weight: bold;
  }
}
