@import 'lms/static/sass/lms-course';
@import './course/navigation';
@import 'course/role_dashboards';
@import 'course/courseware/course_classes';
@import 'course/ccx_coach/dashboard';
@import 'course/explore_courses';

$prev-next-color: silver;
$prev-next-color-light: #d6d6d6;
$ft-temp-gray: #efeded;

$ft-font-menu-color: #b5b5b5;
$ft-font-menu-active-color: #949494;

//TODO: create file to add fasttrac colors (when we get designs)
$ft-orange: #f76b1c;

// Marin clumsy override until we get the design
.courseware-bookmarks-button {
  position: absolute;
  top: 72px;
  left: 700px;
  width: 150px;
}

div.course-spinner {
  display: inline-block;
  width: 80%;
  position: relative;
  border: none;
  box-shadow: none;

  .fa {
    position: absolute;
    left: calc(50% - 16px);
  }
}

/* HEADER */

.header-global.slim {
  padding: 0;

  h1.logo {
    position: absolute;
    top: 0;
    margin: 0;

    img {
      height: 40px;
    }

    &:before, &:after {
      display: none;
      height: 25px;
    }
  }
}

/* end header */

$course-index-width: 300px;
$break-smaller: 1366px;
div.course-index {
  display: inline-block;
  vertical-align: top;
  width: $course-index-width;
  border: none;
  box-shadow: none;

  &.retracted {
    margin-left: -$course-index-width;
    border: none;
    box-shadow: none;
  }
}

body.view-in-course {
  background-color: white;

  .container {
    padding: 0;
    display: table;
    width: 100%;

    visibility: hidden; // hidden until loaded
    &.loaded {
      visibility: visible;
      background-image: url('../images/course_background_pattern.png');
    }
  }

  // bookmark, search and print
  .bookmark-button-wrapper {
    position: absolute;
    top: 0;
    right: 50px;

    .btn.bookmark-button:before,
    .btn.bookmark-button.bookmarked:before {
      content: none;
    }
    .btn.bookmark-button,
    .btn.bookmark-button:active {
      border: none;
      color: $prev-next-color;
      outline: none;
      font-size: 20px;

      &.bookmarked,
      &:hover {
        color: $ft-orange;
        background-color: transparent;
      }
    }
  }

  div.course-wrapper {
    display: inline-block;
    max-width: 99%;
    width: calc(100% - 307px); // border is 1px
    padding-bottom: 56px; // height of footer-wrapper
    border: none;
    border-left: 1px solid $ft-temp-gray;

    box-shadow: none;
    background: white;

    &.extended {
      width: 99%;
      border-left: none;
      -webkit-transition: width 0.5s;
      transition: width 0.5s;

      .xmodule_display.xmodule_SequenceModule nav.sequence-bottom {
        left: 15%;
        right: 15%;
      }
      @media screen and (max-width: $break-smaller) {
        .xmodule_display.xmodule_SequenceModule nav.sequence-bottom {
          left: 3%;
          right: 3%;
        }
      }

      .wrapper-course-modes {
        border: none;
      }
    }

    .sequence {
      padding: 10px 45px;
      position: relative; // later on we are going to attach arrows on this div with absolute pos.
    }

    // previews and next arrows / buttons
    .xmodule_display.xmodule_SequenceModule nav.sequence-bottom {
      position: fixed;
      left: 330px;
      right: 30px;
      top: 350px;
      width: inherit;
      cursor: pointer;

      color: $prev-next-color;
      .fa {
        padding-top: 14px;
        font-size: 10px;
        &.fa-arrow-right {
          padding-left: 2px;
        }
      }

      div.arrow-text {
        font-size: 12px;
        font-weight: 600;
        color: $prev-next-color-light;
        text-decoration: underline;
        text-transform: uppercase;

        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
      }
    }
  }
}

// COURSE main display
.course-wrapper {
  background-color: #fff;

  .courseware-results-wrapper {
    display: block;
    margin: 60px auto 0 auto;
    padding: 0;
  }

  .course-content {
    display: block;
    width: 100%;

    padding: 20px 3% 40px 3%;
    overflow: hidden;
  }

  .xblock-student_view.xblock-student_view-sequential.xblock-initialized {
    margin: 0 auto;
    padding: 0 20px;
  }
}

// TODO: explore why this is being overwritten
nav.wrapper-course-material .course-tabs li a {
  text-transform: uppercase;
  font-weight: 600;
  color: $ft-font-menu-color !important; // I really had to.
  border-bottom: none !important;

  &.active,
  &:hover {
    color: $ft-font-menu-active-color !important; // I really had to.
  }
}

/**
 *    TABS
 **/

// menu will be placed like it's part of the course display
body.view-in-course .wrapper-course-material .course-material {
  width: inherit;
}

.wrapper-course-material .course-material {
  max-width: calc(100% - 50px);
  left: 50px;
  z-index: 1; // fix user dropdown mix with tab content bug
}

.course-material {
  position: absolute;
  width: 100%;
  margin: 0;
  z-index: 20;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  &.with-sidebar {
    max-width: calc(100% - 350px);
    left: 350px;
  }

  .course-search {
    display: none; // hide everywhere except in course display
  }

  .tab a {
    font-weight: 400;
  }
}

// search
.view-courseware.courseware .course-search {
  position: absolute;
  right: 0;
  display: block;

  .fa-search {
    color: #b5b5b5 !important;
  }
}

#course-search-input {
  border: none;
  box-shadow: none;
  background: transparent;
}

#course-search-input:focus,
.search-button:focus {
  outline: none;
}

#course-search-input::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 14px;
  color: #b5b5b5 !important;
}

#course-search-input:focus::-webkit-input-placeholder {
  opacity: 0;
}

// NEXT footer inside of the course
.next-unit-footer {
  position: absolute;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #ebebeb;
  text-align: center;
  color: #969696;
  font-size: 14px;
  border: 1px solid #dddddd;

  .fa {
    padding-left: 10px;
    font-size: 18px;
  }
}

// remove line between two xblocks
.course-wrapper .course-content .vert-mod .vert > .xblock-student_view {
  border-bottom: none;
}
