@import 'lms/static/sass/lms-course';
@import './course/navigation';

$prev-next-color: silver;
$prev-next-color-light: #d6d6d6;
$ft-temp-gray: #efeded;

$ft-font-menu-color: #b5b5b5;
$ft-font-menu-active-color: #949494;

//TODO: create file to add fasttrack colors (when we get designs)
$ft-orange: #f76b1c;

// Marin clumsy override until we get the design
.courseware-bookmarks-button {
  position: absolute;
  top: 72px;
  left: 700px;
  width: 150px;
}

div.course-spinner {
  display: inline-block;
  width: 80%;
  position: relative;
  border: none;
  box-shadow: none;

  .fa {
    position: absolute;
    left: calc(50% - 16px);
  }
}

$course-index-width: 17%;
div.course-index {
  display: inline-block;
  vertical-align: top;
  width: $course-index-width;
  border: none;
  box-shadow: none;

  &.retracted {
    margin-left: -$course-index-width;
    border: none;
    box-shadow: none;
  }
}

body.view-in-course {
  background-color: white;

  .container {
    padding: 0;
    display: table;
    width: 100%;

    visibility: hidden; // hidden until loaded
    &.loaded {
      visibility: visible;
    }
  }

  // bookmark, search and print
  .bookmark-button-wrapper {
    position: absolute;
    top: 0;
    right: 50px;

    .btn.bookmark-button,
    .btn.bookmark-button:active {
      border: none;
      color: $prev-next-color;
      outline: none;
      font-size: 20px;

      &.bookmarked,
      &:hover {
        color: $ft-orange;
        background-color: transparent;
      }
    }
  }

  div.course-wrapper {
    display: inline-block;
    max-width: 100%;
    width: calc(83% - 1px); // border is 1px
    padding-bottom: 56px; // height of footer-wrapper
    border: none;
    border-left: 1px solid $ft-temp-gray;

    box-shadow: none;
    background: white;

    &.extended {
      width: 100%;
      border-left: none;
      -webkit-transition: width 0.5s;
      transition: width 0.5s;

      .wrapper-course-modes {
        border: none;
      }
    }

    .sequence {
      padding: 10px 45px;
      position: relative; // later on we are going to attach arrows on this div with absolute pos.
    }

    // previews and next arrows / buttons
    .xmodule_display.xmodule_SequenceModule nav.sequence-bottom {
      position: absolute;
      left: -20px;
      right: -20px;
      top: 45%;
      width: inherit;
      cursor: pointer;

      color: $prev-next-color;
      .fa {
        padding-top: 14px;
        font-size: 10px;
        &.fa-arrow-right {
          padding-left: 2px;
        }
      }

      div.arrow-text {
        font-size: 12px;
        font-weight: 600;
        color: $prev-next-color-light;
        text-decoration: underline;
        text-transform: uppercase;

        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
      }
    }
  }
}

// COURSE main display
.course-wrapper {
  .courseware-results-wrapper {
    padding: 0;
  }

  .course-content {
    display: block;
    width: 100%;

    padding: 20px 3% 40px 3%;
  }

  .xblock-student_view.xblock-student_view-sequential.xblock-initialized {
    margin: 0 auto;
    padding: 0 20px;
  }
}

nav.wrapper-course-material .course-tabs li a {
  text-transform: uppercase;
  font-weight: 600;
  color: $ft-font-menu-color !important; // I really had to.

  &.active,
  &:hover {
    color: $ft-font-menu-active-color !important; // I really had to.
    border-bottom: none;
  }
}

// menu will be placed like it's part of the course display
.course-material {
  margin: 0;
  width: 100%;
  position: absolute;
  z-index: 20;
  left: 3%;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  &.with-sidebar {
    left: 20%;
  }
}

// NEXT footer inside of the course
.next-unit-footer {
  position: absolute;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #ebebeb;
  text-align: center;
  color: #969696;
  font-size: 14px;
  border: 1px solid #dddddd
}

.next-unit-footer .fa {
  padding-left: 10px;
  font-size: 18px;
}

