@import 'lms/static/sass/lms-main-v1';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
@import 'header';
@import 'course/courseware/sidebar';
@import 'affiliates';
@import 'course/search';
@import 'course/course_dashboard';
@import 'course/explore_courses';

$ft-temp-darkgray: #555;
$ft-orange: #f76b1c;

/**
*   GLOBAL
**/

html, body, .window-wrap {
  padding: 0;
  margin: 0;
  width: 100%;

  *:not(.fa):not(.mce-ico) {
    font-family: Roboto, sans-serif !important;
  }
}

.loaded {
  visibility: visible;
}

#global-navigation {

  .nav-courseware .btn.btn-login {
    background-color: $ft-orange;
    color: white;
    border: none;
    box-shadow: none;

    &:hover:not(:disabled) {
      background-color: $ft-orange;
      color: white;
      border: none;
      opacity: 0.7;
    }
  }

  ol.right.nav-courseware.list-inline {
    position: static;
  }
}

.content-wrapper {
  height: calc(100% - 114px);
}

.deliverables {
  display: table-row;

  iframe {
    height: 265px;
    width: 1170px;
  }
}

.deliverables h1 {
  margin-left: 20px;
}

/**
*   LANDING PAGE / when the user is not signed in
**/

.home > header {
  background: url("../images/newSearchBg.jpg");
}

.home > header .title {
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.5);
}


/**
*   HEADER ADJUSTMENT
**/

.header-global {
  height: 47px;
  border: 0.5px solid $ft-temp-light-gray;
  box-shadow: none;

  .nav-global {

    li a, div a {
      color: $ft-font-menu-color;
    }

    li a:hover {
      color: $ft-font-menu-active-color;
    }

  }

  h1.logo {
    img {
      max-height: 34px;
    }
  }
}

$break-smaller: 1366px;

/**
*   COURSE DISPLAY --> the rest of it see lms-course.scss
**/

.view-in-course {
  // Fix dancing footer. Glue it to the bottom even when there is no enough course content
  .window-wrap {
    height: 100%;
  }

  #main:not(.explore-courses) {
    padding-top: 60px; // we want to save place for absolute positioning of the course menu
  }

  .course-wrapper.extended #main {
    width: 72%;
    margin: 0 auto;

    @media screen and (max-width: $break-smaller) {
      width: 100%;
    }
  }
}

/**
*   FOOTER
**/

$link-color: #6f6f6f;

.wrapper-footer {
  position: absolute;
  right: 0;
  left: 0;

  padding: 0 !important; // otherwise will be overwritten with course style
  margin-top: 0 !important;
  box-shadow: none;

  -webkit-transition: 0.5s;
  transition: 0.5s;

  footer#footer-openedx {
    text-align: center;
    max-width: initial;

    a, a:hover, a:active, a:visited {
      color: $link-color;
    }
    a:hover {
      border-bottom: 1px solid $link-color;
    }

    .colophon {
      float: none;
      padding: 20px 0;
      width: 100%;

      .copyright {
        margin: 0;
        display: inline-block;
      }

      .footer-link {
        display: inline-block;
        text-transform: uppercase;
        font-size: 0.8em;
        margin-left: 20px;
      }
    }

    .background-pattern {
      display: block;
      background-image: url('../images/ft_pattern.png');
      background-repeat: repeat-x;
      height: 7px;
    }
  }

  // when viewing course we want footer to behave like it's in course-wrapper
  &.in-course {
    margin-left: 300px;
    border-left: 1px solid $ft-temp-light-gray;
  }
}

.wrapper-footer.fixed-footer,
.wrapper-footer.relative-footer {
  bottom: 0;
  height: 65px;
  width: 100%;
}

.wrapper-footer.fixed-footer {
  position: fixed;
}

.wrapper-footer.relative-footer {
  position: relative;
}

/**
* Explore courses page
**/

#main.explore-courses {
  display: table;
  height: 100%;
  width: 100%;
}

.find-courses {
  display: table-cell;
  margin: 0;
  padding: 0;
  background: white;
  padding-left: 2rem;
  padding-top: 1rem;

  .user-message {
    font-size: 0.9rem;
    font-style: italic;
  }
}

.search-facets {
  display: table-cell;
  vertical-align: top;
  width: 248px;
  background: white;

  border-right: 0.5px solid $ft-temp-light-gray;

  .header-search-facets-wrapper {
    height: 47px;
    background: #f5f5f5;
    border: 0.5px solid $ft-temp-light-gray;
    border-top: 0;
    border-right: 0;

    h2.header-search-facets {
      color: $ft-font-menu-color;

      margin: 0;
      padding-top: 12px;
      padding-left: 15px;

      font-size: 1em;
      font-weight: 600;
      letter-spacing: 0 !important;
      text-transform: uppercase;
    }
  }
}

.courses-container .courses:not(.no-course-discovery) {
  width: 100% !important;
  margin-bottom: 20px;
}

.courses-container .courses {
  .courses-listing-item {
    width: 300px !important;
    height: 340px;
    margin-right: 6.35765% !important;
  }

  .course {
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0 !important;
    background: white;

    .course-date-wrapper {
      display: table-cell;
      vertical-align: middle;
      position: relative;
      top: -35px;
      height: 22px;

      background: $ft-temp-darkgray;
      color: white;

      .course-date {
        margin-left: 8px;
        margin-right: 8px;

        font-size: 1em;
        font-weight: 600;
        letter-spacing: 0 !important;
      }
    }

    .course-info {
      height: 156px;

      .affiliate-name {
        margin-left: 12px;
        margin-bottom: 8px;
        padding-right: 8px;
        color: $ft-font-menu-color;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .course-name {
        font-size: 1.2em;
        font-weight: 400;
        letter-spacing: 0 !important;
        margin-left: 12px;
        text-transform: none;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .course-overview {
        color: #777777;
        font-size: 0.8em;
        font-weight: 400;
        letter-spacing: 0 !important;
        margin-left: 12px;
        width: 95%;

        span {
          display: block;
          display: -webkit-box;
          max-width: 400px;
          height: 35.84px;
          margin: 0 auto;
          font-size: 12.8px;
          line-height: 1.4;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .course-image {
      .cover-image {
        border-bottom: 6px solid $ft-temp-darkgray;
        height: 200px;
        width: 298px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    }

    .course-footer {
      position: absolute;
      bottom: 0;
      width: 100%;

      text-align: center;
      color: $ft-temp-darkgray;
      font-size: 1em;
      font-weight: 400;
      letter-spacing: 0 !important;

      .course-delivery {
        display: inline-block;
        width: 36%;
        text-align: center;
      }

      .course-state-wrapper {
        display: inline-block;
        width: 20%;
        text-align: center;
        transform: skew(-24deg);
        padding: 0.5rem;
        border-left: 1px solid $ft-temp-light-gray;
        border-right: 1px solid $ft-temp-light-gray;

        .course-state {
          text-transform: uppercase;
          transform: skew(24deg);
        }
      }

      .course-view-action {
        display: inline-block;
        width: 35%;
        text-align: center;
        text-transform: uppercase;

        i {
          color: $ft-orange;
          font-size: 22px;
        }
      }
    }

    &:hover {
      * {
        background: white;
      }

      .course-date-wrapper, .course-date {
        background: $ft-orange;

      }

      .cover-image {
        border-bottom: 6px solid $ft-orange;
      }
    }
  }
}

.courses-container .courses .course,
.find-courses .courses .course,
.find-courses .courses .course:hover {
  border: 0.5px solid $ft-temp-light-gray;
  box-shadow: none;
}

// BOOKMARKS PAGE - bookmarks.html

.bookmarks, .course-search-results {
  text-align: center;

  & > * {
    text-align: left;
  }

  h1 {
    color: #aaa;
    font-size: 4rem;
    font-weight: bold;
    font-style: italic;
    width: 70%;
    margin: 2rem auto;
  }

  h2 {
    color: #555;
    width: 70%;
    font-weight: bold;
    margin: 4rem auto;
  }

  .bookmark-item {
    width: 60%;
    margin: 1rem auto;
    border-bottom: 1px solid #ddd;

    &:hover a {
      color: $ft-orange;
    }

    a {
      color: #555;
      font-size: 1.6rem;
      font-weight: bold;
      transition: color .4s;
    }

    .fa {
      color: $ft-orange;
      vertical-align: top;
    }
    .path {
      color: #999;
      text-transform: uppercase;
      font-style: italic;
      display: block;
      margin: 1rem 0;
      font-size: .8rem;
    }

    .date {
      color: #aaa;
      font-style: italic;
      display: block;
      margin: 1rem 0;
      font-size: .8rem;
    }
  }
}

.messages {
  text-align: center;

  & > * {
    text-align: left;
  }

  h1 {
    color: #aaa;
    font-size: 4rem;
    font-weight: bold;
    font-style: italic;
    width: 70%;
    margin: 2rem auto;
    text-transform: uppercase;
  }

  h2 {
    margin: 2rem auto;
    width: 70%;
  }

  .message {
    width: 70%;
    margin: auto;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
  }

  .message-date {
    font-style: italic;
    margin-bottom: 12px;
  }
}

.header-facet {
  margin: 2rem 1rem 1rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.facet-list {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    padding: 0;
    margin: 0;

    button {
      background: none;
      border: 0 none;
      border-radius: 0;
      color: #777;
      text-shadow: 0 0 0;
      box-shadow: 0 0 0;
      letter-spacing: 0;
      font-size: .9rem;

      &:hover {
        background: none;
        color: #555;
      }

      .count {
        color: $ft-orange;
      }
    }
  }
}

.xblock-student_view.xblock-student_view-lti_consumer h2.problem-header {
  display: none !important;
}

@media screen and (min-width: 980px) {
  .find-courses .courses-container .courses:not(.no-course-discovery) .courses-listing .courses-listing-item:nth-child(3n+1), .university-profile .courses-container .courses:not(.no-course-discovery) .courses-listing .courses-listing-item:nth-child(3n+1) {
    clear: none !important;
  }
}

.home .courses-container .courses .courses-listing .courses-listing-item {
  clear: none !important;
  float: none !important;
  display: inline-block !important;

  & .learn-more {
    background: $ft-orange;
  }

  & .course-image .cover-image:before {
    height: 200px !important;
  }
}


.students-table {
  width: 100%;

  thead td, th {
    font-weight: bold;
    height: 50px;
    text-align: left;
  }

  tbody tr {
    height: 40px;
    line-height: 40px;

    &:hover {
      background: #ddd;
    }
  }
}

.wrapper-course-image {
    height: 115px;
    width: 100%;

    a {
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
}

.course-info .hero {
  height: 200px !important;
  background-size: 100% 100%;
}

.courses-container .courses .course-image img {
  height: 200px;
  max-height: 200px;
}

// buttons
.dashboard .my-courses .course .details .enter-course,
.login-register .register-form .register-button,
.login-register .login-button,
.login-register .nav-btn.form-toggle {
  background: $ft-orange;
  color: white;
  border: none;
  box-shadow: none;

  &:hover, &:active {
    background: $ft-orange;
    color: white;
    border: none;
    opacity: 0.7;
  }

  &:focus {
    outline: none;
  }
}

// course about page
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta {
  strong, a.register {
    background-color: $ft-orange;
    color: white;
    border: none;

    &:hover:not(:disabled), &:active {
      background-color: $ft-orange;
      color: white;
      border: none;
      opacity: 0.7;
    }

    &:focus {
      outline: none;
    }
  }
}

.courses-listing .courses-listing-item {
  margin: 0 0 70px 0 !important;
}

.wrapper-profile {
  &-field-account-privacy {
    display: none;
  }
}

// LEARNER PROFILE PAGE
.u-field.u-field-dropdown {
  padding: 10px 15px 15px 15px;
}

label.u-field-title {
  width: 100%;
}

.messages {
  display: flex;
  flex-flow: column wrap;

  .message {
    white-space: pre-line;

    & .message-date {
      margin-bottom: 0;
    }
  }

  form.add-message-form {
      display: flex;
      flex-flow: column nowrap;
      width: 260px;
      height: 295px;
      justify-content: space-around;
      margin: auto;
      padding: 1rem;

      div.date-picker-wrapper {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;

        label {
          display: inline-block;
          margin-bottom: 0;
        }

        input {
          width: 82%;
        }
      }

      textarea#content {
        flex-basis: 190px;
        align-self: center;
      }
  }
}

