<%def name="online_help_token()"><% return "course" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from lms.djangoapps.ccx.models import CustomCourseForEdX
%>
<%page args="course" expression_filter="h"/>
<%
  if hasattr(course.id, 'ccx'):
    ccx = CustomCourseForEdX.objects.get(pk=course.id.ccx)
  else:
    ccx = None
%>
<article class="course" id="${course.id}" role="region" aria-label="${course.display_name_with_default}">
  <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">
    <header class="course-image">
      <div class="cover-image">
        % if ccx:
          <img src="${ccx.image_url}" alt="${ccx.display_name}" />
        % else:
          <img src="${course.course_image_url}" alt="${course.display_name_with_default} ${course.display_number_with_default}" />
        % endif
        <div class="learn-more" aria-hidden="true">${_("LEARN MORE")}</div>
      </div>
    </header>
    <div class="course-info" aria-hidden="true">
      <h2 class="course-name">
        % if ccx:
          <span class="course-organization">${ccx.affiliate.name}</span>
          <span class="course-title">${ccx.display_name}</span>
          <p class="course-overview">
              % if ccx:
                % if len(ccx.course_description) > 120:
                  <span title="${ccx.course_description}">${ccx.course_description[:120] + '...'}</span>
                % else:
                    <span>${ccx.course_description}</span>
                % endif
              % endif
          </p>
        % else:
          <span class="course-organization">${course.display_org_with_default}</span>
          <span class="course-title">${course.display_name_with_default}</span>
        % endif
      </h2>
    </div>
  </a>
</article>
