@import 'create_ccx_page';
@import 'team_management';
@import 'enrollment';
@import 'student_admin';
@import 'coach_dashboard_edit_ccx';
@import 'schedule';

$break-smaller: 1366px;

@media screen and (max-width: $break-smaller) {
  body.view-affiliate-dash .coach.container {
    max-width: 97%;
  }
}

.instructor-dashboard-wrapper-2 {
  box-shadow: none !important;
}

body.view-affiliate-dash {
  background: none;

  .coach.container {
    max-width: 90%;
    padding-bottom: 90px;
  }

  .window-wrap {
    position: relative;
    min-height: 100vh;
  }
  .window-wrap .wrapper-footer {
    bottom: 0;
  }
}

#ccx-coach-dashboard-content {
  padding: 0;

  #header-ccx-dashboard {
    padding: 13px 20px;
    border-bottom: 1px solid #c8c8c8;
    border-top: 0;
    margin: 0;

    font-size: 20px;
    font-weight: bold;
  }
}

/* navigation */
.instructor-nav-wrapper {
  border: 1px solid #c8c8c8;
  width: 100%;

  .nav-item a {
    color: #5e5e5e;
    font-size: 18px;

    &.active-section {
      color: #f76b1c !important;
    }
  }

  .nav-item:hover a {
    color: #f76b1c;
  }
}

.instructor-dashboard-content-2 .instructor-nav {
  border: none;

  .active-section-nav {
    border-bottom: 3px solid #f76b1c;
  }

  .nav-item {
    margin: 0;
    padding: 15px;
  }
}

.idash-section {
  margin-top: 0;
}

.idash-section .hd.hd-2 {
  padding: 16px;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  font-size: 18px;
}

/* action button for FT  */
.ft-button-action:hover:not(:disabled) {
  background-image: none !important;
  background-color: #ff7d34 !important;
  box-shadow: none !important;
}

.ft-button-action {
  padding: 5px !important;
  border: 0 !important;
  background: #f76b1c !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  color: white !important;
  line-height: 2 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  text-shadow: none !important;
}

.ft-button-action:focus {
  outline: none !important;
  background-image: none !important;
  background-color: #ff7d34 !important;
  box-shadow: none !important;
}

.ft-button-action#create-ccx {
  position: absolute;
  right: 0;
  width: 180px;
}

/* input placeholder font-style italic */
.instructor-dashboard-content-2 ::-webkit-input-placeholder {
  font-style: italic;
}

.instructor-dashboard-content-2 :-moz-placeholder {
  font-style: italic;
}

.instructor-dashboard-content-2 ::-moz-placeholder {
  font-style: italic;
}

.instructor-dashboard-content-2 :-ms-input-placeholder {
  font-style: italic;
}

