.schedule.hd-2 {
  margin-bottom: 0;
}

.schedule-note {
  padding: 1rem;
  font-size: 1rem;
}

#ccx_schedule_unit_panel {
  border: none;
}

.ccx-schedule-container {
  max-width: 60%;
  margin: 0 10px;
}

.ccx-schedule-sidebar {
  width: auto;
  float: right;
}

/* table */
.add-all-button-wrapper {
  display: none;
}

.ccx-schedule {
  .chapter {
    text-transform: uppercase;
  }
  .unit {
    width: 80%;
  }

  .remove-link {
    text-align: right;
  }

  .sequential.collapsed .unit {
    padding-left: 35px !important;
  }

  button.ccx-button-link:focus {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
  }
}
