/* student_admin.html */

.gradebook-wrapper {
  margin: 20px;

  .active-flag {
    text-align: center;
  }

  .active {
    color: green;
  }

  .inactive {
    color: red;
  }
}

.gradebook-wrapper p a {
  color: #f76b1c;
}

.gradebook-wrapper p a:hover {
  color: #ff7d34;
}
