/* team_management.html */

#team_management .table-wrapper {
  margin: 30px;

  .team-mgmt-table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #f76b1c;
  }

  .team-mgmt-table td {
    font-size: 14px;
    padding: 10px 5px;
    overflow: hidden;
    word-break: normal;
    vertical-align: top;
    text-align: left;
    min-width: 230px;
  }

  .team-mgmt-table th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    overflow: hidden;
    word-break: normal;
    min-width: 230px;
  }

  .team-mgmt-table .thead {
    background-color: #f76b1c;
    color: #ffffff;
    vertical-align: top
  }
}
