<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>

<%block name="pagetitle">CCX Coach Dashboard</%block>

<section class="container">
  <input type="text" placeholder="Search Affiliates" onkeyup="searchAffiliates(event, this)">

  <script>
    function searchAffiliates(event, target) {
      if (event.keyCode === 13) {
        window.location.search = 'query=' + target.value;
      }
    }
  </script>

  <h3> Affiliates </h3>
  <ul>
    % for coach in coaches:
      <li>
        <b>
          Affiliate:
        </b>
        ${coach['name']}

        <br>

        <b>
          Course Name:
        </b>
        ${coach['display_name']}

        <br>
        <br>
        <br>
      </li>
    %endfor
  </ul>

</section>
