<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>

<%block name="pagetitle">Explore Affiliates</%block>

<%
  from openedx.core.djangoapps.user_api.accounts.image_helpers import get_profile_image_urls_for_user
%>

<section class="container explore-affiliates">

  <script type="text/javascript">
    function searchAffiliates() {
      var affiliateName = $('#affiliateName').val()
      var affiliateCity = $('#affiliateCity').val()
      var affiliateState = $('#affiliateState').val()

      var search = '&affiliate_name=' + affiliateName;
      search += '&affiliate_city=' + affiliateCity;
      search += '&affiliate_state=' + affiliateState;

      window.location.search = search;
    }
  </script>


  <script type="text/javascript">
    $(document).ready(function() {
      $('.wrapper-footer').addClass('fixed-footer')
    })
  </script>

  <div class="affiliate-sidebar">
    <div class="header">
      Refine List
    </div>

    <div class="sidebar-body">
      <a href="affiliates" class="clear-all"> <span class="fa fa-remove"></span> Clear All</a>
      <div class="sidebar-filter">
        <div class="fa fa-user"></div>
        <span class="filter-label">Affiliate Name</span>
        <input type="text" id="affiliateName" placeholder="Search Affiliate" value="${affiliate_name}">
      </div>

      <div class="sidebar-filter">
        <div class="fa fa-map-marker"></div>
        <span class="filter-label">Location</span>
        <input type="text" id="affiliateCity" placeholder="City" value="${affiliate_city}">
        <input type="text" id="affiliateState" placeholder="State" value="${affiliate_state}">
      </div>

      <a href="#" id="submit-search" onclick="searchAffiliates()"> Submit <span class="fa fa-arrow-right"></span> </a>
    </div>
  </div>

  <script>
    $(document).ready(function(){
      $('.explore-header').on('click', function() {
        $('.hidden-explore-option').toggleClass('hidden');
      })
    })
  </script>

  <div class="affiliate-content">
    <h1 class="explore-header">
      Explore Affiliates
      <div class="fa fa-caret-down"></div>
      <br>
      <a href="/courses" class="hidden-explore-option hidden">
        Explore Courses
      </a>
    </h1>
    <ul>
      % for affiliate in affiliates:
        <li class="affiliate-card">
          <div class="image" style="background-image: url(${affiliate['image_url']});"></div>
          <div class="name">
            ${affiliate['affiliate_organization_name']}
          </div>
          <div class="description">
          </div>
          <div class="card-footer">
            <span class="skewed-footer-item">
              <span>
                <span class="fa fa-map-marker"></span>
                ${affiliate['state']}
              </span>
            </span>
            <span>
              <a href="/affiliates/${affiliate['username']}">
                View
                <span class="fa fa-arrow-circle-o-right"></span>
              </a>
            </span>
          </div>
        </li>
      %endfor
    </ul>
  </div>
</section>
