<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>

<%block name="pagetitle">Affiliate ${affiliate.profile.name}</%block>

<section class="course-info">
  % if error_message:
    <div class="image-upload-error-message">${error_message}</div>
  % endif

  <form class="edit-affiliate-container" action="/affiliates/edit/${affiliate.username}" method="POST" enctype="multipart/form-data">
    <br>
    <h1 class="explore-header">Edit Affiliate Info</h1>

    <h4> <b>Email:</b> ${affiliate.email}</h4>
    <h4> <b>Username:</b> ${affiliate.username}</h4>

    <br>
    <div>
      <label for="">Profile Image</label>
      <input class="upload-profile-image" type="file" name="file">
    </div>
    <br>

    <br>
    <div>
      <label for="">Affiliate Organization</label>
      <br>
      <input type="text" value="${affiliate.profile.affiliate_organization_name}" name="affiliate_organization_name">
    </div>
    <br>

    <br>
    <div>
      <label for="">Name</label>
      <br>
      <input type="text" value="${affiliate.profile.name}" name="name">
    </div>
    <br>

    <br>
    <div>
      <label for="">Address</label>
      <br>
      <input type="text" value="${affiliate.profile.mailing_address}" name="mailing_address">
    </div>
    <br>

    <br>
    <div>
      <label for="">City</label>
      <br>
      <input type="text" value="${affiliate.profile.city}" name="city">
    </div>
    <br>

    <br>
    <div>
      <label for="">State</label>
      <br>
      <br>
      <select name="state">
        % for choice in state_choices:
          <option value="${choice[0]}" ${'selected' if affiliate.profile.state == choice[0] else ''}>${choice[1]}</option>
        % endfor
      </select>
    </div>
    <br>

    <br>
    <div>
      <label for="">Zip Code</label>
      <br>
      <input type="text" value="${affiliate.profile.zipcode}" name="zipcode">
    </div>
    <br>

    <br>
    <div>
      <label for="">Country</label>
      <br>
      <br>
      <select name="country">
        % for country in countries:
          <option value="${country[0]}" ${'selected' if affiliate.profile.country == country[0] else ''}>${country[1]}</option>
        % endfor
      </select>
    </div>
    <br>

    <br>
    <div>
      <label for="">Phone Number</label>
      <br>
      <input type="text" value="${affiliate.profile.phone_number}" name="phone_number">
    </div>
    <br>

    <br>
    <br>
    <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}" />
    <input type="submit" value="Save" />
  </div>
</section>
