<%namespace name='static' file='static_content.html'/>
<%!
from openedx.core.djangoapps.user_api.accounts.image_helpers import get_profile_image_urls_for_user
from lms.djangoapps.ccx.models import CustomCourseForEdX
%>

<%page args="course" expression_filter="h"/>
<%
  if hasattr(course.id, 'ccx'):
    ccx = CustomCourseForEdX.objects.get(pk=course.id.ccx)
  else:
    ccx = None
%>

<article class="course" role="region">
    <a href="/courses/${course.id}/about">
        <header class="course-image">
            % if hasattr(course.id, 'ccx'):
              <%
                image_url = get_profile_image_urls_for_user(ccx.coach)['full']
              %>
              <img src="${image_url}" alt="${course.display_name}" />
            % else:
              <img src="${course.course_image_url}" alt="${course.display_name}" />
            % endif
            <div class="course-date-wrapper" aria-hidden="true">
                <p class=course-date>
                  Start date:
                  % if hasattr(course.id, 'ccx'):
                    ${ccx.time.strftime("%B %d, %Y")}
                  % else:
                    ${course.start.strftime("%B %d, %Y")}
                  % endif
                </p>
            </div>
        </header>
        <section class="course-info" aria-hidden="true">
            % if hasattr(course.id, 'ccx'):
              % if len(ccx.coach.profile.affiliate_organization_name) > 25:
              <h3 title="${ccx.coach.profile.affiliate_organization_name}" class="affiliate-name">
                  ${ccx.coach.profile.affiliate_organization_name}
              </h3>
              % else:
              <h3 class="affiliate-name">
                  ${ccx.coach.profile.affiliate_organization_name}
              </h3>
              % endif
            % endif

            <h2 title="${course.display_name}" class="course-name">
                ${course.display_name}
            </h2>
            <p class="course-overview">
                % if hasattr(course.id, 'ccx'):
                  % if len(ccx.course_description) > 120:
                    <span title="${ccx.course_description}">${ccx.course_description[:120] + '...'}</span>
                  % else:
                      <span>${ccx.course_description}</span>
                  % endif
                % endif
            </p>
            <div class="course-footer">
                <div class="course-delivery">
                  % if hasattr(course.id, 'ccx') and ccx.delivery_mode == CustomCourseForEdX.IN_PERSON:
                      <i class="fa fa-users"></i>
                      In-Person
                  % else:
                      <i class="fa fa-globe"></i>
                      Online
                  % endif
                </div>
                <div class="course-state-wrapper">
                    <div class="course-state"><i class="fa fa-map-marker"></i>
                      % if hasattr(course.id, 'ccx'):
                        ${ccx.location_state}
                      % else:
                        MO
                      % endif
                    </div>
                </div>
                <div class="course-view-action">View
                    <i class="fa fa-arrow-circle-o-right"></i>
                </div>
            </div>
        </section>
    </a>
</article>
