<%namespace name='static' file='static_content.html'/>
<%!
from lms.djangoapps.ccx.models import CustomCourseForEdX
from affiliates.models import AffiliateMembership
%>

<%page args="course" expression_filter="h"/>
<%
  if hasattr(course.id, 'ccx'):
    ccx = CustomCourseForEdX.objects.get(pk=course.id.ccx)
  else:
    ccx = None
%>

<article class="course" role="region">
    <a href="/courses/${course.id}/about">
        <header class="course-image">
            % if ccx:
              <img src="${ccx.image_url}" alt="${course.display_name}" />
            % else:
              <img src="${course.course_image_url}" alt="${course.display_name}" />
            % endif
        </header>
        <section class="course-info" aria-hidden="true">
            % if ccx:
              % if len(ccx.coach.profile.affiliate.name) > 50:
                <h3 title="${ccx.coach.profile.affiliate.name}" class="affiliate-name">
                  ${ccx.coach.profile.affiliate.name[0:48]}...
                </h3>
              % else:
                <h3 title="${ccx.coach.profile.affiliate.name}" class="affiliate-name">
                  ${ccx.coach.profile.affiliate.name}
                </h3>
              % endif

              % if len(ccx.display_name) > 64:
                <h2 title="${ccx.display_name}" class="course-name">
                  ${ccx.display_name[0:62]}...
                </h2>
              % else:
                <h2 class="course-name">
                  ${ccx.display_name}
                </h2>
              % endif
            % else:
              % if len(course.display_name) > 64:
                <h2 title="${course.display_name}" class="course-name">
                    ${course.display_name[0:62]}...
                </h2>
              % else:
                <h2 class="course-name">
                  ${course.display_name}
                </h2>
              % endif
            % endif
            <p class="course-overview">
                % if ccx:
                  Start date:
                  % if ccx:
                    ${ccx.time.strftime("%B %d, %Y")}
                  % else:
                    ${course.start.strftime("%B %d, %Y")}
                  % endif
                % endif
            </p>
            <div class="course-footer">
                <div class="course-delivery">
                  % if ccx and ccx.delivery_mode == CustomCourseForEdX.IN_PERSON:
                      <i class="fa fa-users"></i>
                      In-Person
                  % elif ccx and ccx.delivery_mode == CustomCourseForEdX.BLENDED:
                      <i class="fa fa-exchange"></i>
                      Blended
                  % else:
                      <i class="fa fa-globe"></i>
                      Online
                  % endif
                </div>
                <div class="course-state-wrapper">
                    <div class="course-state"><i class="fa fa-map-marker"></i>
                      % if ccx:
                        ${ccx.location_state}
                      % else:
                        MO
                      % endif
                    </div>
                </div>
                <div class="course-view-action">View
                    <i class="fa fa-arrow-circle-o-right"></i>
                </div>
            </div>
        </section>
    </a>
</article>
