{% load i18n %}{% load url from future %}{% autoescape off %}
{% blocktrans %} You're receiving this email because an account was created for you on {{ site_name }}.{% endblocktrans %}

{% trans "Please follow this link to log into the site and choose your password:" %}
{% block reset_link %}
{{ protocol }}://{{ site_name }}{% url 'student.views.password_reset_confirm_wrapper' uidb36=uid token=token %}
{% endblock %}

{% trans "If you did not apply to become a FastTrac affiliate, please disregard this email. " %}

{% trans "Thank you for registering!" %}

{% blocktrans %}The FastTrac Team{% endblocktrans %}

{% endautoescape %}
