<%page expression_filter="h"/>
<%inherit file="../main.html" />
<%def name="online_help_token()"><% return "courseinfo" %></%def>
<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _

from courseware.courses import get_course_info_section, get_course_date_summary

from openedx.core.djangoapps.self_paced.models import SelfPacedConfiguration
from openedx.core.djangolib.markup import HTML, Text
%>

<%block name="pagetitle">${_("{course_number} Course Info").format(course_number=course.display_number_with_default)}</%block>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
</%block>

% if show_enroll_banner:
<div class="wrapper-msg urgency-low" id="failed-verification-banner">
  <div class="msg msg-reverify is-dismissable">
    <div class="msg-content">
      <h2 class="title">${_("You are not enrolled yet")}</h2>
      <div class="copy">
        <p class='enroll-message'>
          ${Text(_("You are not currently enrolled in this course. {link_start}Sign up now!{link_end}")).format(
                link_start=HTML("<a href={}>").format(url_to_enroll),
                link_end=HTML("</a>")
          )}
        </p>
      </div>
    </div>
  </div>
</div>
% endif

<%include file="/courseware/course_navigation.html" args="active_page='info'" />

<%static:require_module_async module_name="js/courseware/toggle_element_visibility" class_name="ToggleElementVisibility">
        ToggleElementVisibility();
</%static:require_module_async>
<%static:require_module_async module_name="js/courseware/course_home_events" class_name="CourseHomeEvents">
        CourseHomeEvents();
</%static:require_module_async>

<%block name="js_extra">
  ## CourseTalk widget js script
  % if show_coursetalk_widget:
      <script src="//d3q6qq2zt8nhwv.cloudfront.net/s/js/widgets/coursetalk-write-reviews.js"></script>
  % endif
</%block>

<%block name="bodyclass">view-in-course view-course-info ${course.css_class or ''}</%block>

<style>
  #main {
    background: #eee;
  }

  .sidebar-ft {
    width: 20%;
    margin-left: 5%;
    display: inline-block;
    vertical-align: top;
    color: #777;
  }

  .sidebar-ft .home {
    border: 1px solid #ddd;
    background: lightsalmon;
    border: 0 none;
    border-bottom: 4px solid orangered;
    text-transform: uppercase;
  }

  .sidebar-ft .home h1 {
    margin: 0;
    font-weight: bold;
  }

  .course-info-ft {
    padding: 1rem 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-bottom: 30px;
    background: #fff;
    max-height: 256px;
    overflow-y: auto;
  }

  .course-info-ft .fa {
    margin: 0 5px;
  }

  .course-info-header {
    border-bottom: 1px solid #ddd;
    margin: -10px;
    padding: 10px;
  }

  .course-info-body {
    padding: 20px 10px;
  }

  .course-info-body > div {
    margin: 1rem 0;
  }

  .sidebar-ft .course-info-header a {
    float: right;
  }

  .sidebar-ft a {
    color: orangered;
  }

  #main .container {
    display: inline-block;
    width: 72%;
    background: transparent;
  }

  #main .container .info-wrapper {
    background: transparent;
    border: 0 none;
  }

  #main .updates {
    padding-top: 0 !important;
  }

  #main * {
    letter-spacing: 0;
  }

  .last-viewed {
    background: white;
    border: 1px solid #ddd;
    border-right: 0 none;
    width: 65%;
    display: inline-block;
    box-sizing: border-box;
    height: 16rem;
    overflow: auto;
  }

  .search-box {
    background: white;
    border: 1px solid #ddd;
    margin-left: -3px;
    border-left: 0 none;
    width: 34%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    height: 16rem;
  }

  .search-box::before {
    content: "OR";
    top: 8rem;
    position: relative;
    color: orangered;
    display: inline-block;
    font-weight: bold;
    left: -1.1rem;
    font-size: 1.6rem;
  }

  .last-viewed h1 {
    text-transform: uppercase;
    color: #aaa;
    padding: 10px;
  }

  .last-viewed-item {
    margin: 1rem 6rem;
  }

  .last-viewed-item h3 {
    font-weight: bold;
    color: #333;
  }

  .last-viewed-item p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .last-viewed-item a.btn-ft {
    background: orangered;
    color: white;
    padding: .3rem 1.6rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    float: right;
  }

  .last-viewed-item .date {
    vertical-align: bottom;
    color: #999;
    font-style: italic;
    padding-top: 1rem;
    display: inline-block;
  }

  .search-box-content {
    position: relative;
    top: 45%;
    left: 65%;
    transform: translate(-50%, -50%);
    margin: auto;
  }

  .search-box-content h1 {
    text-transform: uppercase !important;
    color: #777 !important;
    font-style: italic !important;
    font-size: 1.2rem !important;
  }

  .search-box-content input {
    border: 0 none;
    border-bottom: 2px solid #aaa;
    background: transparent;
    outline: 0 none;
    box-shadow: 0 0 0;
    font-style: italic;
    padding-left: 0;
  }

  .uppercase {
    text-transform: uppercase;
  }
</style>

<main id="main" aria-label="Content" tabindex="-1">
    <div class="sidebar-ft">
      <div class="home">
        <div class="page-header-main">
          <h1>Welcome ${user.first_name}!</h1>
        </div>
      </div>

      <div class="course-info-ft">
        <div class="course-info-header">
          <div class="fa fa-file-text"></div>
          COURSE INFO.
          <a href="#">VIEW PROFILE</a>
        </div>
        <div class="course-info-body">
          % if ccx:
            <div>
              <b>Affiliate:</b>
              ${ccx.coach.profile.name}
            </div>
            <div>
              <b>Meeting Date & Time:</b>
              ${ccx.time.strftime("%B %d, %Y @ %-I:%M%p")}
            </div>
            <div>
              <b>Meeting Location:</b>
              ${'{}, {} {}'.format(ccx.location_city, ccx.location_state, ccx.location_postal_code)}
            </div>
            <div>
              <b>Contact Information:</b>
              ${'{} / {}'.format(ccx.coach.email, ccx.coach.profile.phone_number)}
            </div>
          % endif
        </div>
      </div>

      <div class="course-info-ft">
        <div class="course-info-header">
          <div class="fa fa-comment"></div>
          MESSAGES
          <a href="#">VIEW ALL</a>
        </div>
        <div class="course-info-body">
          ${HTML(get_course_info_section(request, masquerade_user, course, 'updates'))}
        </div>
      </div>

      <div class="course-info-ft">
        <div class="course-info-header">
          <div class="fa fa-bookmark"></div>
          BOOKMARKS
          <a href="#">VIEW ALL</a>
        </div>
        <div class="course-info-body">
          % for bookmark in bookmarks:
            <div>
              <a href=${'/courses/' + bookmark['course_id'] + '/jump_to/' + bookmark['usage_id']}>
                ${' > '.join([path_item.get('display_name') for path_item in bookmark['path']])}
              </a>
            </div>
          % endfor
        </div>
      </div>
    </div>
    <div class="container">
      <div class="info-wrapper">
        % if user.is_authenticated():
        <section class="updates">
          % if studio_url is not None and masquerade and masquerade.role == 'staff':
          <div class="wrap-instructor-info studio-view">
            <a class="instructor-info-action" href="${studio_url}">
              ${_("View Updates in Studio")}
            </a>
          </div>
          % endif

          <div class="last-viewed">
            <h1>Where you last left off...</h1>
            <div class="last-viewed-item">
              % if last_viewed_item:
                <h3>
                  <span class="uppercase">
                    ${last_viewed_item['object'].get_parent().display_name if last_viewed_item['object'].get_parent() else ''}
                  </span> -
                  ${last_viewed_item['object'].display_name}
                </h3>
                <p>
                  ${last_viewed_item['object'].display_description if last_viewed_item['object'].display_description else 'No description yet...'}
                </p>
                <span class="date">
                  last viewed @ ${last_viewed_item['modified'].strftime("%B %d, %Y")}
                </span>
                <a href=${'/courses/' + last_viewed_item['course_id'] + '/jump_to/' + last_viewed_item['module_id']} class="btn-ft">
                  Continue
                  &nbsp;
                  <span class="fa fa-arrow-right"></span>
                </a>
              % else:
                This is your first time here...
              % endif
            </div>
          </div>

          <div class="search-box">
            <div class="search-box-content">
              <h1>START SOMETHING NEW</h1>
              <input type="text" placeholder="search courseware">
            </div>
          </div>

          <style>
            .ft-tabs {
              list-style: none;
              padding: 0;
              border-bottom: 2px solid #ddd;
            }

            .ft-tabs li {
              display: inline-block;
              text-transform: uppercase;
              color: #ccc;
              font-size: 1.2rem;
              font-weight: bold;
              padding: .4rem .5rem;
              margin-right: 2rem;
              cursor: pointer;
            }

            .ft-tabs li.active {
              color: orangered;
              border-bottom: 4px solid orangered;
              margin-bottom: -2px;
            }

            .ft-tab {
              display: none;
            }

            .ft-card {
              width: 256px;
              height: 256px;
              margin-right: 2rem;
              display: inline-block;
              background: white;
              border: 1px solid #ddd;
              box-shadow: 1px 1px 3px #aaa;
              transition: box-shadow .6s;
              overflow: hidden;
            }

            .ft-card:hover {
              box-shadow: 2px 2px 5px #aaa;
            }

            .ft-card h3 {
              margin: 2rem 1rem;
            }

            .ft-card h3 a {
              text-transform: uppercase;
              font-weight: bold;
              color: #555;
              font-size: 1.4rem;
              transition: color .4s;
            }

            .ft-card p {
              padding: 0 1rem 2.5rem;
              color: #777;
            }

            .ft-card:hover h3 a {
              color: orangered;
            }

            .ft-card p {
              border-bottom: 1px solid #ddd;
            }

            .ft-card .activities {
              padding: 1rem;
              background: #efefef;
              height: 100%;
            }
          </style>

          <ul class="ft-tabs">
            <li data-tab="course" class="active">COURSE OVERVIEW</li>
            <li data-tab="tools">TOOLS OVERVIEW</li>
          </ul>

          <div id="tab-course" class="ft-tab" style="display: block;">
            % for section in course.get_children():
              <div class="ft-card">
                <h3>
                  <a href="${"/courses/{}/courseware/{}/".format(course.id, section.url_name)}">
                    ${section.display_name}
                  </a>
                </h3>
                <p>
                  ${section.display_description if section.display_description else 'No description'}
                </p>
                <div class="activities">
                  TODO: ACTIVITIES
                </div>
              </div>
            % endfor
          </div>

          <div id="tab-tools" class="ft-tab">
            <iframe src="http://localhost:3000/lti/deliverables/" frameborder="0" width="100%" height="300px"></iframe>
          </div>

          <script>
            $('.ft-tabs li').on('click', function() {
              $('.ft-tabs li.active').removeClass('active');
              $(this).addClass('active');

              $('.ft-tab').hide();
              $( '#tab-' + $(this).attr('data-tab') ).fadeIn();
            });
          </script>


          ## CourseTalk widget
          % if show_coursetalk_widget:
          <div class="coursetalk-write-reviews">
            <div id="ct-custom-read-review-widget" data-provider="${platform_key}" data-course="${course_review_key}"></div>
          </div>
          % endif
        </section>
        % endif
      </div>
  </div>
</main>
