<%page expression_filter="h"/>
<%inherit file="../main.html" />
<%def name="online_help_token()"><% return "courseinfo" %></%def>
<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from courseware.courses import get_course_info_section, get_course_date_summary

from openedx.core.djangoapps.self_paced.models import SelfPacedConfiguration
from openedx.core.djangolib.markup import HTML, Text

from lms.djangoapps.ccx.models import CustomCourseForEdX
%>

<%block name="pagetitle">${_("{course_number} Course Info").format(course_number=course.display_number_with_default)}</%block>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
</%block>

% if not user.is_anonymous() and user.profile.is_incomplete:
  <%include file="/static_templates/annoying-message.html" />
% endif

% if show_enroll_banner:
<div class="wrapper-msg urgency-low" id="failed-verification-banner">
  <div class="msg msg-reverify is-dismissable">
    <div class="msg-content">
      <h2 class="title">${_("You are not enrolled yet")}</h2>
      <div class="copy">
        <p class='enroll-message'>
          ${Text(_("You are not currently enrolled in this course. {link_start}Sign up now!{link_end}")).format(
                link_start=HTML("<a href={}>").format(url_to_enroll),
                link_end=HTML("</a>")
          )}
        </p>
      </div>
    </div>
  </div>
</div>
% endif

<%include file="/courseware/course_navigation.html" args="active_page='info'" />

<%static:require_module_async module_name="js/courseware/toggle_element_visibility" class_name="ToggleElementVisibility">
        ToggleElementVisibility();
</%static:require_module_async>
<%static:require_module_async module_name="js/courseware/course_home_events" class_name="CourseHomeEvents">
        CourseHomeEvents();
</%static:require_module_async>

<%block name="js_extra">
  ## CourseTalk widget js script
  % if show_coursetalk_widget:
      <script src="//d3q6qq2zt8nhwv.cloudfront.net/s/js/widgets/coursetalk-write-reviews.js"></script>
  % endif
</%block>

<%block name="bodyclass">view-in-course view-course-info ${course.css_class or ''}</%block>
<main id="main" aria-label="Content" tabindex="-1">
    <div class="sidebar-ft">
      <div class="home">
        <div class="page-header-main">
          <h1>Welcome, <br> ${user.profile.name.split(' ')[0]}!</h1>
        </div>
      </div>

      <div class="course-info-ft">
        <div class="course-info-header">
          <div class="fa fa-file-text"></div>
          COURSE INFO.
          % if ccx:
            <a href="/affiliates/${ccx.coach.profile.affiliate.slug}">VIEW PROFILE</a>
          % endif
        </div>
        <div class="course-info-body">
          % if ccx:
            <div>
              <b>Affiliate:</b>
              <a href="/affiliates/${ccx.coach.profile.affiliate.slug}">
                ${ccx.coach.profile.affiliate.name}
              </a>
            </div>
            <div>
              <b>Meeting Date & Time:</b>
              ${ccx.time.strftime("%B %d, %Y @ %-I:%M%p")}
            </div>
            <div>
              <b>Meeting Location:</b>
              % if ccx.delivery_mode == CustomCourseForEdX.IN_PERSON or ccx.delivery_mode == CustomCourseForEdX.BLENDED:
                ${'{}, {} {}'.format(ccx.location_city or '', ccx.location_state or '', ccx.location_postal_code or '')}
              % else:
                Online
              % endif
            </div>
            <div>
              <b>Contact Information:</b>
              ${'{} / {}'.format(ccx.coach.profile.affiliate.email or '', ccx.coach.profile.affiliate.phone_number or '')}
            </div>
          % else:
            <div>
              <b>Affiliate:</b>
              Kauffman FastTrac
            </div>
            <div>
              <b>Contact Information:</b>
              <a href="mailto:info@fasttrac.org">info@fasttrac.org</a>
            </div>
          % endif
        </div>
      </div>

      <div class="course-info-ft">
        <div class="course-info-header">
          <div class="fa fa-comment"></div>
          MESSAGES
          <%

            if request.user.is_staff or is_program_director_or_course_manager:
              messages_view = "ccx_messages"
            else:
              messages_view = "messages"
          %>
          <a href="${messages_view}">VIEW ALL</a>
        </div>
        <div class="course-info-body">
          % for update_item in update_items:
            <div>
              <a>
                ${update_item['content'] | n}
              </a>
              <span>
                ${update_item['date']}
              </span>
            </div>
          % endfor
        </div>
      </div>

      <div class="course-info-ft">
        <div class="course-info-header">
          <div class="fa fa-bookmark"></div>
          BOOKMARKS
          <a href="bookmarks">VIEW ALL</a>
        </div>
        <div class="course-info-body bookmarks">
          % for bookmark in bookmarks:
            <div>
              <a
                href=${"/courses/{}/jump_to/{}".format(bookmark.course_key, bookmark.usage_key)}
                title="${' - '.join([path_item.display_name for path_item in bookmark.path])} - ${bookmark.display_name}"
              >
                ${' - '.join([path_item.display_name for path_item in bookmark.path])}
                -
                ${bookmark.display_name}
              </a>
              <span>
                ${bookmark.modified.strftime("%B %d, %Y")}
              </span>
            </div>
          % endfor

          % if len(bookmarks) == 0:
            <br>
            <br>
            You have no bookmarks yet...
            <br>
            <br>
          % endif
        </div>
      </div>
    </div>
    <div class="container">
      <div class="info-wrapper">
        % if user.is_authenticated():
        <section class="updates">
          % if studio_url is not None and masquerade and masquerade.role == 'staff':
          <div class="wrap-instructor-info studio-view">
            <a class="instructor-info-action" href="${studio_url}">
              ${_("View Updates in Studio")}
            </a>
          </div>
          % endif

          <div class="last-viewed">
            <h1>Where you last left off...</h1>
            <div class="last-viewed-item">
              % if last_viewed_item:
                <h3>
                  <span class="uppercase">
                    ${last_viewed_item['object'].get_parent().display_name if last_viewed_item['object'].get_parent() else ''}
                  </span>
                </h3>
                <p>
                  ${last_viewed_item['object'].display_name}
                </p>
                <div class="date-continue-wrapper">
                    <span class="date">
                      last viewed @ ${last_viewed_item['modified'].strftime("%B %d, %Y")}
                    </span>
                    <a href=${'/courses/{}/courseware'.format(last_viewed_item['course_id'])} class="btn-ft">
                      Continue
                      &nbsp;
                      <span class="fa fa-arrow-right"></span>
                    </a>
                </div>
              % else:
                <p class="no-last-viewed-item">
                  <br><br>
                  You haven't viewed any course content yet. Get started by selecting a course section below, or searching for something more specific to the right.
                </p>
              % endif
            </div>
          </div>

          <div class="search-box">
            <script>
              function handleSearchKeyup(event) {
                if(event.keyCode === 13) {
                  window.location = 'search?query=' + event.target.value;
                }
              }
            </script>

            <div class="search-box-content">
              <h1>START SOMETHING NEW</h1>
              <input type="text" placeholder="search courseware" onkeyup="handleSearchKeyup(event)">
            </div>
          </div>

          <ul class="ft-tabs">
            <li data-tab="course" class="active">COURSE OVERVIEW</li>
            <li data-tab="tools">WORKSPACE OVERVIEW</li>
          </ul>

          <div id="tab-course" class="ft-tab">
            % for section in sections:
              <div class="ft-card">
                <h3>
                  <a href="${reverse('courseware_section', args=[course.id, section.url_name, section.last_subsection_url_name])}">
                    ${section.display_name}
                  </a>
                </h3>
                <p>
                  ${section.display_description if section.display_description else 'No description'}
                </p>
                <div class="activities">
                  ${section.completed_subsections} / ${section.total_subsections} modules completed
                </div>
              </div>
            % endfor
          </div>

          <div id="tab-tools" class="ft-tab">
            <iframe src="${workspace_url}/lti/deliverables/" frameborder="0" width="100%" height="700px"></iframe>
          </div>

          <script>
            $('.ft-tabs li').on('click', function() {
              $('.ft-tabs li.active').removeClass('active');
              $(this).addClass('active');

              $('.ft-tab').hide();
              $( '#tab-' + $(this).attr('data-tab') ).fadeIn();
            });
          </script>


          ## CourseTalk widget
          % if show_coursetalk_widget:
          <div class="coursetalk-write-reviews">
            <div id="ct-custom-read-review-widget" data-provider="${platform_key}" data-course="${course_review_key}"></div>
          </div>
          % endif
        </section>
        % endif
      </div>
  </div>
</main>
